[2019-09-12 07:26] ghostdogpr opened #1 "Return parsing result in a proper ADT"

[2019-09-12 07:27] ghostdogpr opened #2 "Support Float scalar type"

[2019-09-12 07:28] ghostdogpr opened #3 "Support recursive types"

[2019-09-12 07:28] ghostdogpr opened #4 "Support interfaces"

[2019-09-12 07:28] ghostdogpr opened #5 "Implement introspection fully"

[2019-09-12 07:29] ghostdogpr opened #6 "Typename introspection"

[2019-09-12 07:29] ghostdogpr opened #7 "Implement missing query validations"
Missing validations:
- [x] https://graphql.github.io/graphql-spec/June2018/#sec-Field-Selection-Merging
- [x] https://graphql.github.io/graphql-spec/June2018/#sec-Fragment-spread-is-possible
- [x] https://graphql.github.io/graphql-spec/June2018/#sec-Values-of-Correct-Type (while doing this, `ArgBuilder` error type should be changed to `ValidationError`)
- [x] https://graphql.github.io/graphql-spec

[2019-09-12 07:30] ghostdogpr opened #8 "Support effectful resolvers"

[2019-09-12 07:30] ghostdogpr opened #9 "Support aliases"

[2019-09-12 07:30] ghostdogpr opened #10 "Support variables"

[2019-09-12 07:30] ghostdogpr opened #11 "Support directives"

[2019-09-12 07:31] ghostdogpr opened #12 "Return ADT after execution"

[2019-09-12 07:31] ghostdogpr opened #13 "Support mutations"

[2019-09-12 07:31] ghostdogpr opened #14 "Support subscriptions"

[2019-09-12 07:32] ghostdogpr opened #15 "Support fragments"

[2019-09-12 07:32] ghostdogpr opened #16 "Support coercion (input + result)"

[2019-09-12 07:32] ghostdogpr opened #17 "Proper error handling"

[2019-09-12 07:33] ghostdogpr opened #18 "Add tests"

[2019-09-12 07:33] ghostdogpr opened #19 "Add documentation"

[2019-09-12 07:33] ghostdogpr opened #20 "Add examples"

[2019-09-12 07:34] ghostdogpr opened #21 "Setup CI for build and release"

[2019-09-12 07:34] ghostdogpr opened #22 "Add Scaladoc and make internal stuff private"

[2019-09-12 07:53] ghostdogpr opened #23 "Support ID scalar type"
With an annotation?

[2019-09-12 07:59] #2 closed, assigned to nobody

[2019-09-12 09:35] #1 closed, assigned to ghostdogpr

[2019-09-12 11:06] #12 closed, assigned to nobody

[2019-09-12 11:07] #9 closed, assigned to nobody

[2019-09-13 10:03] #8 closed, assigned to nobody

[2019-09-14 03:03] #18 closed, assigned to nobody

[2019-09-14 03:22] #17 closed, assigned to nobody

[2019-09-14 09:29] #3 closed, assigned to nobody

[2019-09-15 02:23] #13 closed, assigned to nobody

[2019-09-15 06:31] #5 closed, assigned to nobody

[2019-09-15 07:29] #15 closed, assigned to nobody

[2019-09-19 08:59] #6 closed, assigned to nobody

[2019-09-25 07:10] #14 closed, assigned to nobody

[2019-09-25 07:11] ghostdogpr opened #25 "Implement proper WebSocket transport protocol"
See https://github.com/apollographql/subscriptions-transport-ws/blob/master/PROTOCOL.md

[2019-09-25 12:17] #20 closed, assigned to nobody

[2019-09-27 00:44] #19 closed, assigned to nobody

[2019-09-27 06:10] #25 closed, assigned to nobody

[2019-09-27 08:54] ghostdogpr opened #26 "Extract http4s adapter into a separate module"

[2019-09-30 11:53] #10 closed, assigned to nobody

[2019-09-30 12:52] #26 closed, assigned to nobody

[2019-10-01 01:27] #11 closed, assigned to nobody

[2019-10-01 05:30] #22 closed, assigned to nobody

[2019-10-01 06:13] #16 closed, assigned to nobody

[2019-10-02 00:00] #21 closed, assigned to nobody

[2019-10-02 13:07] ghostdogpr opened #27 "Add benchmarks"
Compare various use cases with Sangria

[2019-10-02 13:08] ghostdogpr opened #28 "Add microsite"
Move and split Readme into a microsite

[2019-10-03 00:35] ghostdogpr opened #29 "Add a macro to check queries at compile-time"
Maybe use https://github.com/propensive/contextual

[2019-10-03 03:00] ghostdogpr opened #30 "Explore ways to generate a valid schema from a trait mixing case classes and case objects"
Currently when facing a sealed trait with both case classes and case objects, we generate a `union` but the case objects don't have any field, which is invalid graphql.

Maybe we could add an arbitrary field in that case?

[2019-10-03 09:44] #30 closed, assigned to nobody

[2019-10-05 04:44] ghostdogpr opened #32 "Schema for Scala Map"

[2019-10-05 04:44] ghostdogpr opened #33 "Schema for Scala Either"

[2019-10-05 06:34] #32 closed, assigned to nobody

[2019-10-05 08:55] #33 closed, assigned to nobody

[2019-10-09 00:49] ghostdogpr opened #34 "ScalaJS compatibility"

[2019-10-09 00:54] #34 closed, assigned to nobody

[2019-10-12 03:42] #28 closed, assigned to nobody

[2019-10-12 07:59] #27 closed, assigned to nobody

[2019-10-14 07:28] domasx2 opened #37 "Cats Effect instead of ZIO?"
Hi,

Any particular reason to stick to ZIO instead of using Cats Effect?
This looks exactly what we need, but we went with Monix, which makes integration a bit more complicated...

[2019-10-14 07:35] ghostdogpr commented on #37
I chose ZIO over Cats Effect because it supports explicit errors (no bifunctor in CE), environment and streams, as well as the overall simplicity of a concrete effect type over tagless final.

But it is completely possible that you wrap the main call (`execute`) the same way you wrap a `Future`, and you can write an instance of `Schema` for Monix `Task`. As long as you don't mind having both libra

[2019-10-14 07:43] ghostdogpr opened #38 "Better compile errors when failing to derive the Schema"
Sometimes when you miss an instance of `Schema` for a custom type that is not a case class nor a sealed trait, the compile error just tells you it couldn't find the Schema but doesn't tell you what's missing exactly.

I'm not sure how much can be done here and how much needs to be done in Magnolia but it's worth investigating.

[2019-10-14 07:44] domasx2 commented on #37
Alright, I intend to give this a go next time we need a scala graphql microservice and see how it goes :) Thanks for the cool lib

[2019-10-14 15:47] hepin1989 commented on #37
When handling GraphQL's ExecutionResult/IO[ExecutionResult]， ZIO  feet more

[2019-10-15 14:37] fokot opened #39 "Modelling computed fields depending on parent"
I used this a lot in sangria gql api. In your example I would like to return `CharacterDetail`s instead of `Character`s. I do not want to calculate statistics everytime only when they are queried, that's why I model this field as a `Task` and not an `Int`.
[code]
What is the proper way to model it? Is this a good start? And how to write `character` function?

[2019-10-15 23:57] ghostdogpr commented on #39
@fokot this is a good start. If you use a `Task` instead of an `Int`, the statistics will be calculated only if the field is requested. If the statistics calculation doesn't require any effect, you can do even simpler and use a function from Unit to Int: `statistics: () => Int`. This will also be executed only when the field is requested.

The `character` function would be similar to the existing

[2019-10-16 00:14] ghostdogpr opened #40 "Support for batching"
This article explains the problem faced by most graphql system: https://blog.apollographql.com/optimizing-your-graphql-request-waterfalls-7c3f3360b051

Interesting libraries to look at:
- https://github.com/graphql/dataloader
- https://github.com/facebook/Haxl
- https://github.com/47deg/fetch

Some discussions are going on about this topic in the [Caliban Discord](https://discordapp.com/channels/6

[2019-10-16 07:40] takayahilton opened #42 "Use scala-steward?"
**Description**

https://github.com/fthomas/scala-steward

All you have to do is edit this [repos](https://github.com/scala-steward-org/repos/edit/master/repos.md) and send PR.

[2019-10-16 07:45] ghostdogpr commented on #42
Definetely, I already did it in the past for a couple projects. Will add it there.

[2019-10-16 07:58] ghostdogpr commented on #42
https://github.com/scala-steward-org/repos/pull/37

[2019-10-16 08:57] ghostdogpr commented on #42
Done

[2019-10-16 08:57] #42 closed

[2019-10-16 14:12] fokot commented on #39
Ok this works quite well, thanks 👍

I'm having another question with same example but I will make another issue as question is not the same.

[2019-10-16 14:12] #39 closed

[2019-10-16 15:26] fokot opened #43 "Batch queries"
Sangria has deferred resolvers
https://sangria-graphql.org/learn/#deferred-value-resolution
or Fetchers
https://sangria-graphql.org/learn/#high-level-fetch-api

In your example I would like to return CharacterDetails instead of Characters. I do not want to calculate statistics everytime only when they are queried and I do want to calculate statistics for all returned characters with single query (

[2019-10-16 15:34] fokot commented on #40
Sangria has deferred resolvers
https://sangria-graphql.org/learn/#deferred-value-resolution
or Fetchers
https://sangria-graphql.org/learn/#high-level-fetch-api

In your example I would like to return CharacterDetails instead of Characters. I do not want to calculate statistics everytime only when they are queried and I do want to calculate statistics for all returned characters with single query (

[2019-10-16 17:56] fokot commented on #40
I'm playing with something like this, but I do not know if it is possible to memoize it and run only once. Yes and I know it is not correct as it is not part of single query resolution but global..
[code]
Now it runs for every character
[code]

[2019-10-17 00:49] ghostdogpr commented on #40
@fokot with the current implementation I don't think it's possible to support batching, because it will execute each field in sequence, so you can't "wait" to receive all requests before executing it. I plan to change the Executor logic so that it will "prepare" an execution plan before running it, possibly applying optimizations like batching, caching, etc in an easy way.

[2019-10-19 08:41] ghostdogpr opened #47 "Generate code from a GraphQL schema"
It would be nice if, given a GraphQL schema, we could generate (with an sbt command?) the corresponding case classes and sealed traits.

[2019-10-19 08:43] ghostdogpr commented on #29
In addition to checking the query syntax, it would be nice to validate it against a given schema.

[2019-10-19 08:44] ghostdogpr commented on #38
Added more documentation about this case. I don't think we can do much here, apart from providing easy reproducers to Magnolia contributors.

[2019-10-19 08:44] #38 closed

[2019-10-21 00:00] #29 closed

[2019-10-21 18:08] hejfelix commented on #37
+1 for caliban-cats. :)

[2019-10-22 13:16] yurikpanic commented on #40
A simple resolver based approach is not sufficient for such use cases. Traversing the query tree just once top-down executing resolvers "on the way" is not enough, one may need multiple passes to optimize the underlying query (or queries).

E.g one top-down to gather the information about fields present in the query (e.g. names and types), one bottom-up to build an underlying backend[s] or databas

[2019-10-22 19:14] jmpicnic opened #50 "Use of custom types in GQL input types?"
Hello,

First, kudos to an amazingly clean GQL service. Impossible to make it any better.

I am stuck with some code that users Enumerations  instead of sealed traits to express Enums. It was easy enough to create a schema for Enumeration types (see below).

My question is what do I need to provide the schema to be able to use  the Enum type also as an "input type" in GQL.

Simply putting it in as

[2019-10-23 00:36] ghostdogpr commented on #50
Hi @jmpicnic
Thanks for the kind words 😄

As I mentioned (briefly) [here](https://ghostdogpr.github.io/caliban/docs/schema.html#arguments), any type you pass as an argument needs an instance of the `ArgBuilder` typeclass, which defines how to turn an input GraphQL `Value` into an actual value of that type.

In your case let's say you pass the enum as a `String`:
[code]
You could also support passi

[2019-10-23 00:42] ghostdogpr commented on #40
@yurikpanic you're right. I'm working on a version that introduces an intermediate data structure that will allow optimizations. The execution will no longer be a single pass but something as you describe.
In parallel @adamgfraser is working on an encoding for queries that will support caching, batching, etc. I expect my WIP query AST to evolve when we integrate his work. We might be able to expos

[2019-10-23 01:09] jmpicnic commented on #50
Thanks a lot, and thanks for the patience. I did not see that part of the doc. I focused on the CustomTypes and missed that completely.

Cheers.

[2019-10-23 01:31] jmpicnic commented on #50
With two little generic functions, it is a breeze to get them working:

[code]

Thanks

Miguel

[2019-10-23 01:31] #50 closed

[2019-10-24 11:26] ghostdogpr commented on #37
Merged 2 related PRs:
- #53 allows using the `GraphQL` class with cats-effect `F` instead of ZIO
- #56 allows using `Http4sAdapter` with cats-effect `F` instead of ZIO

What's missing:
- add an instance of `Schema` for `F`
- add a documentation page that summarizes all of it and show a full example using Cats IO or Monix

[2019-10-27 00:02] #37 closed

[2019-10-27 00:18] ghostdogpr commented on #37
Released 0.1.1 with the cats interop module. Happy people can thank @desbo 😄

[2019-10-29 03:09] ghostdogpr opened #60 "Add ArgBuilder.mapM"
This makes it easier to reuse existing builders.
[code]

Example usage (with refined's `NonEmptyString`):
[code]

[2019-10-29 11:58] #60 closed

[2019-10-29 23:54] #40 closed

[2019-11-01 15:33] palutz opened #66 "Make the examples to compile"
Trying the examples (to understand the lib), but they not compile.
Is it also possible to have a build.sbt as example for running the project?

Thanks

[2019-11-02 01:08] ghostdogpr commented on #66
@palutz the examples project is part of the whole project's build.sbt but I added this README in case you want to compile only the examples: https://github.com/ghostdogpr/caliban/tree/master/examples

Does that work for you? Let me know if you still have some errors.

[2019-11-05 13:30] ghostdogpr commented on #66
Closing but feel free to reopen if the instructions aren't enough.

[2019-11-05 13:30] #66 closed

[2019-11-05 13:34] ghostdogpr opened #67 "Add FAQ to website"
Frequently Asked Questions:
- compile error saying it doesn't find a Schema, why?
- how to deal with recursive types?
- how to deal with authentication/authorization?

[2019-11-06 01:11] jmpicnic opened #68 "Parameters for subscriptions?"
I am looking to add a subscription to the GQL endpoint that I developing with Caliban, and I can't see the way to provide parameters in the subscription request. It seems that the mechanism should be similar to the queries (e.g. from the apollo documentation --> https://www.apollographql.com/docs/react/data/subscriptions/).

In the Caliban documentation (https://ghostdogpr.github.io/caliban/docs/#

[2019-11-06 01:21] ghostdogpr commented on #68
Very good point. I think a function `ARG => ZStream[R, E, A]` is the right way to model this.

Currently I'm forcing the field to be a `ZStream` by requiring an instance of the `SubscriptionSchema` typeclass (which only exist for `ZStream` and `Unit`). I am going to add one for `ARG => ZStream[R, E, A]` but in the meantime you can provide it yourself with this code:

[code]

[2019-11-07 12:29] ghostdogpr opened #70 "Http4s Adapter: use Circe to transform the result to Json"
The current code in `Http4sAdapter` converts the result to a string, then is parsed into Json. Instead, we could use Circe (which is already in scope in the `Http4sAdapter`) to convert the result to Json directly. This will take care of edge cases (breaklines, etc) and will be faster.

Here's the existing code:
[code]

Instead, we can define an `Encoder[ResponseValue]` and `Encoder[ErrorResponse]`

[2019-11-07 12:34] ghostdogpr commented on #68
@jmpicnic did the workaround resolve the problem? I have a PR ready, I'll merge if you confirm 👍

[2019-11-07 19:57] jmpicnic commented on #68
I am building it this week. I'll have results over the weekend.

[2019-11-08 02:13] #70 closed

[2019-11-08 04:53] jmpicnic commented on #68
One follow up question. I have not seen much by way of examples of Caliban with akka-http. I got it working for regular queries and mutations, but I was wondering if you know of any examples that integrates wtih their streaming infrastructure.

[2019-11-08 05:00] ghostdogpr commented on #68
@jmpicnic I don't think there are any examples out there yet because Caliban is very new. Actually it would be great to have a `caliban-akka` module just like there is `caliban-http4s`.

For streaming I imagine the implementation would be similar to https://github.com/ghostdogpr/caliban/blob/master/http4s/src/main/scala/caliban/Http4sAdapter.scala#L104 but using https://doc.akka.io/docs/akka-http/

[2019-11-08 05:03] ghostdogpr opened #72 "Akka HTTP Adapter"
Add a new module similar to `caliban-http4s` named `caliban-akka-http` that exposes a REST and a WebSocket API for a given GraphQL interpreter.

If there is common code between the http4s and the akka one, it should be factored out.

I haven't used Akka in a while, so external contributors are welcome to pick this one up!

EDIT: HTTP is done, only WebSocket is missing

[2019-11-08 05:21] jmpicnic commented on #68
Yes, that is the path I am following. If I end up with something re-usable, I'll send it to contribute it.

Thanks

Miguel

[2019-11-08 12:32] palutz commented on #66
Hi,
thanks for the answer.
Anyhow the code provided (with the readme) is at least solving most of the problems but still have some compile errors

Didn't use http4s so much so having some trouble helping you here.

[2019-11-08 12:44] ghostdogpr commented on #66
@palutz are you maybe using http4s 0.20.12? caliban depends on version 0.21.0-M5, that could explain the errors maybe?

If that's not the reason, any chance you make your repo public so I can have a look?

[2019-11-08 13:59] palutz commented on #66
I didn't import any https dependencies (just used the lib use showed on the readme). If I used the https libs nothing changed (with 0.20.10)
Trying the 0.21.0-M5 I've got the same problem

[2019-11-08 14:00] palutz commented on #66
This is my build.sbt

val zioLib = Seq(
  "dev.zio" %% "zio" % "1.0.0-RC15",
  "dev.zio" %% "zio-streams" % "1.0.0-RC15",
  "dev.zio" %% "zio-interop-cats" % "2.0.0.0-RC6",

  "org.http4s"      %% "http4s-dsl"          % Http4sVersion,
  "org.http4s"      %% "http4s-blaze-server" % Http4sVersion,
  "org.http4s"      %% "http4s-blaze-client" % Http4sVersion,
//  "org.http4s"      %% "http4s-circe"

[2019-11-08 14:21] ghostdogpr commented on #66
Ah i think it might be ZIO itself. Caliban uses 1.0.0-RC16 and the interop-cats is RC7. Is that better?

[2019-11-08 14:34] palutz commented on #66
Nope... I uploaded the whole prj on this repo:
https://github.com/palutz/calibanTest

[2019-11-08 14:52] ghostdogpr commented on #66
You miss the `-Ypartial-unification` flag:
[code]
After I added this, it compiles well. This is required by http4s: https://http4s.org/v0.21/

[2019-11-08 15:00] palutz commented on #66
Gosh... so silly mistake.
Thanks ;)

[2019-11-12 05:05] jmpicnic commented on #68
Although I am stuck in actually getting the ZIO streams reliably feed the Akka Streams on events, I have confirmed through old-fashioned print traces that the conditions for the subscriptions come through the websocket channel and make it all the way to the application logic using the implicit function that you suggested. I tested it with the Chrome "Simple Web Socket Client" chrome plug in, openi

[2019-11-12 05:09] ghostdogpr commented on #68
@jmpicnic thanks for confirming. I will merge the PR and release a new version of caliban with it.

Regarding ZIO Stream interop with Akka Streams, I haven't used it myself but maybe the interop-reactive-streams project may help: https://github.com/zio/interop-reactive-streams (since Akka also supports it).

I managed to get subscriptions working in Altair, so let me know if you have any issue lat

[2019-11-12 05:10] #68 closed

[2019-11-12 18:56] jmpicnic commented on #68
Thanks a lot. I think the issue with Altair is on the akka-http side, but not sure. I am still too new to be confident of my diagnosis :-).

Thanks again for all the help.

PS. My company is moving to gRpc as the inter-service comm protocol, so I'll be taking a longish detour through that.

[2019-11-18 19:00] rtimush opened #76 "Support partial results"
Currently, `execute` either fully succeeds with `ResponseValue` or fails with `CalibanError`. It would be nice to support partial results — any evaluation error should bubble up until the first nullable node, and the error itself should be reported together with the response. For example, given the following schema:
[code]
the query
[code]
should be able to produce:
[code]

In terms of schema, thi

[2019-11-19 00:37] ghostdogpr commented on #76
Relevant specs:
https://graphql.github.io/graphql-spec/June2018/#sec-Errors-and-Non-Nullability
https://graphql.github.io/graphql-spec/June2018/#sec-Response

A few questions/remarks:
- Your PR makes all effectful fields that are not `UIO` nullable. Is that the correct default for mutations? I'm afraid this might be unexpected for users. If we apply that new behavior to queries only, the inconsist

[2019-11-19 00:56] rtimush commented on #76
I think yes, mutations should behave the same (it's not very clear from the spec, but I think other GraphQL implementations execute all mutations, even if some of them fail). Also, for mutations, it's not always obvious whether the failure means a failure to mutate, or failure to compute the result.

Maybe, although for me it's hard to imagine the case when we have some data but want to intentiona

[2019-11-19 01:11] ghostdogpr commented on #76
I think most other libraries rely on the user-defined schema to decide whether to return null or to bubble up the failure (as defined by the spec), so they don't really have any choice to make. What's a bit different here is that we make the choice for the user based on their schema types.

I tend to agree your proposal is a good default, but I think it would be nicer if we let users fail fast if

[2019-11-19 02:39] ghostdogpr commented on #76
We had some discussions about it on Discord: https://discordapp.com/channels/629491597070827530/633200096393166868/646147482153254913 (feel free to join 😄)

One idea would be to use the `Die` channel for the "fail fast" case. User would simply return `UIO` (field would be non-nullable) and add `.orDie` to make their error interrupt the whole query.

I'll play with the Executor to see if I can achi

[2019-11-19 06:35] ghostdogpr commented on #76
After discussing with @adamgfraser, it seems that to support this feature we first need `ZQuery` to support partial failures as well (with something like `foldM` or `catchAll` in ZIO). He will have a look at that.

Once this is done, the executor will need to collect the errors, set `NullValue` for those fields and return `(List[E], ResponseValue)`. I can take care of that part.

[2019-11-20 16:50] nhatnambui opened #80 "Name of input type is always have the suffix "Input""
It's because of this line of code https://github.com/ghostdogpr/caliban/blob/220cf74931589d099c7e254dda63e78db5927b9c/core/src/main/scala/caliban/schema/Types.scala#L41

When generating input type from case class, case object..., the suffix "Input" is always added. Can we avoid that?

[2019-11-20 23:58] ghostdogpr commented on #80
@nhatnambui that's because GraphQL requires 2 different types if you have the same type used for input and output.

Let's say you have the following case class used for input and output:
[code]

Without this "trick", it will generate the following GraphQL types:
[code]

As you can guess, you can't have 2 different types with the same name, that's why I added this prefix.
So it'll create this:
[cod

[2019-11-21 00:01] ghostdogpr opened #81 "Support BigInt and BigDecimal"
It's not officially supported by the spec but it could be nice to have for people who want it. Maybe using an ADT for `IntValue` and `FloatValue`?

[2019-11-21 00:02] ghostdogpr opened #82 "Use Either instead of IO in ArgBuilder"
`IO` seems a bit overkill in this use case. Wouldn't `Either` be better?

[2019-11-21 00:25] rtimush opened #83 "Input enums are inconsistently suffixed with "Input""
When enum is used as an input type, the query requires values equal to the names of the case objects (which makes sense), but in the schema returned by the introspection query, all values are suffixed with `Input`.

With the following definition:
[code]

The query works:
[code]

But the schema says:
[code]

The expected schema is either
[code]
or
[code]
depending on #80.

[2019-11-21 00:33] ghostdogpr commented on #83
Good catch! It doesn't happen when the enum is used both as an input and as an output (like my type `Origin`) but it indeed happens when you use it only as input.

[2019-11-21 06:10] #83 closed

[2019-11-21 09:28] nhatnambui commented on #80
I think it would be better to let user of library define the name explicitly.  Can we achieve that using the annotation?

Or at least in case that the case class is used only for input, the suffix shouldn't be added

[2019-11-21 12:39] ghostdogpr commented on #80
The way the schema is derived, we don’t know if the type may be used somewhere else.

But an annotation sounds reasonable. That way you can choose your suffix or even no suffix at all (at your own peril).

[2019-11-22 01:01] #82 closed

[2019-11-22 01:49] ghostdogpr commented on #80
@nhatnambui Added #88 for this. It lets you customize the default logic (by overriding `customizeInputTypeName`) or an individual type (by using `@GQLInputName` annotation). Looks good?

[2019-11-23 05:59] #76 closed

[2019-11-23 06:03] #80 closed

[2019-11-23 06:16] #81 closed

[2019-11-25 10:10] rtimush opened #91 "Allow query analysis before execution"
There are some cases where it would be useful to be able to analyze the query before execution. One of the examples is calculating query complexity ([sangria docs](https://sangria-graphql.org/learn/#query-complexity-analysis)) — for each requested field, we need access to the calculated complexity of child fields, arguments (to take page size into account), and some field metadata. This is very si

[2019-11-25 11:04] ghostdogpr commented on #91
@rtimush good idea!

Maybe something similar to the recently added `wrapExecutionWith`, where we would pass a function `Document => IO[E, Document]` that would allow modifying the query and possibly rejecting it. Then we can make some helpers to make the traversal easier e.g. some logic by field, and provide builtin ones like the query complexity.

[2019-11-25 11:11] ghostdogpr opened #92 "Improve error message when Schema not found"
Using the `@implicitNotFound` annotation, we can display a friendly error message instead of the ugly Magnolia ones. That message should give hints on how to resolve the error.

Example with Tapir: https://github.com/softwaremill/tapir/blob/744bcbfd34be51c1b4ceefa8a640fe6e8487016f/core/src/main/scala/sttp/tapir/Codec.scala#L28

[2019-11-25 14:02] rtimush commented on #91
@ghostdogpr This sounds reasonable. It probably makes sense to pass the `RootType` to this wrapper function as well.

[2019-11-26 00:59] ghostdogpr commented on #92
Done

[2019-11-26 00:59] #92 closed

[2019-11-27 02:41] ghostdogpr commented on #91
@rtimush

I'm working on a different encoding for validation rules and I was wondering if the same processor could be re-used for query analysis. One potential difference I see is that for validation, we need the original query with fragments and variables (so that we can validate the appropriate rules). For the query analysis, we might want a simpler structure with just "fields" and fragments alr

[2019-11-27 12:05] rtimush commented on #91
Doing all validation/processing in one pass is probably indeed more efficient. Maybe we can hide the complexity of the full data structure by providing some utility functions that wrap such processors simplifying the interface.

[2019-11-29 08:55] fokot opened #98 "Nested inputs do not return all types"
If inputs are more than 2 levels deep not all types are returned. In Queries it is ok (I mean output types).

Example graphiql error:
[code]
Example schema:
[code]

[2019-11-29 09:05] ghostdogpr commented on #98
@fokot Good find! This is clearly a bug.

[2019-11-29 09:20] ghostdogpr opened #99 "Ability to wrap field execution"
Just like we can wrap query execution with `wrapExecutionWith`, it would be useful to have a way to wrap each field execution.

Possible use cases: collect field-level metrics and possibly send them somewhere, field-level authorizations.

[2019-11-29 12:34] #98 closed

[2019-11-30 02:39] ghostdogpr opened #103 "Add Schema and ArgBuilder for java UUID"

[2019-11-30 03:20] #103 closed

[2019-12-04 00:03] ghostdogpr opened #107 "Include custom scalars in GraphQL#render"
The spec says:

Built-in scalars should be omitted but custom scalars should be there.

[2019-12-04 00:21] #107 closed

[2019-12-04 09:50] jona7o commented on #72
I am currently work on a solution with an example.
I haven't use ZIO in a production project, so i hope i'll use the best practises in my PR later this day.
If not, please give me some tipps.

[2019-12-04 10:14] ghostdogpr commented on #72
@jona7o that would be awesome!

[2019-12-04 14:02] jona7o commented on #72
I have finished the rest part and started with the ws part.
This week my time is running out so i created a merge request. Perhaps someone else will finish the ws part until i have time for more contribution.

[2019-12-04 15:05] jona7o commented on #72
Short hint for the faq:

if someone tries using caliban with lagom and not with akka the solution will look like this:

service-api:
`
def graphqlApi: ServiceCall[GraphQLRequest, GraphQLResponse[CalibanError]]

  override def descriptor: Descriptor = {
    import Service._
    named("graphql").
      withCalls(
        restCall(Method.POST, "/api/graphql", graphqlApi _)
      )
      .withAutoAcl(

[2019-12-04 16:36] fokot opened #110 "Tagged values in inputs"
Tagged values do work in outputs but not in inputs

[code]

[2019-12-04 22:33] ghostdogpr commented on #110
You’re missing the ArgBuilder for tagged types no?

[2019-12-05 10:57] rtimush opened #114 "Multiple aliases for the same field do not work"
If the same field is queried multiple times, only the first one is evaluated. In the example app, the following query
[code]
returns only `earth` but not `mars`.

[2019-12-05 12:43] ghostdogpr commented on #114
@rtimush good catch! That’s a bug indeed.

[2019-12-06 00:14] #114 closed

[2019-12-06 08:57] fokot commented on #110
Cool, it really works! :) Only thing is that I can not use type aliases, but this is Magnolia thing
[code]

[2019-12-06 08:57] #110 closed

[2019-12-15 20:50] fokot opened #120 "ZIO[R, E, A] type as not nullable"
This is not a bug, but enhancement. There is `ZIO[R, E, A] | Nullable A` in the docs. I think it might be useful if it `ZIO[R, E, A] ` will return `A` and not a `nullable A`. In sangria `Future[A]` is `A` and `Future[Option[A]]` is `nullable A`. Many times I use `ZIO` or `ZQuery` just to make data loading lazily. If it is not nullable and one generates `flow` or `typescript` from queries it is als

[2019-12-15 21:44] fokot opened #121 "Wrong List type derivation"
`RIO[R, List[Book]]` is derived to gql type `ListBook` instead of `[Book]`
The type as two possible subtypes
[code]

Example is here
https://github.com/fokot/caliban-example/commit/43bf1efbf8ddf4a194837a027fd88cfefe08ff3b
You can find it in http://localhost:8000/graphiql

Sorry I was not able to minimise it. If it is the only mutation the error is still there. When I remove `BookId =>` the error d

[2019-12-16 00:02] ghostdogpr commented on #120
You can find the original discussion about this behavior here: https://github.com/ghostdogpr/caliban/issues/76

Since the effect can fail, there is a chance to have no result. If you want to fail the whole query instead of returning null for that field (which is the default behavior), you can transform `E` into `Nothing` using `.orDie` on your effect.

[2019-12-16 01:07] ghostdogpr commented on #121
Yeah, you ran into the case that I described [here](https://ghostdogpr.github.io/caliban/docs/schema.html) in the Warning section. Your type `Book` is used in multiple places and is recursive, so Magnolia has trouble with it.

You need to add `implicit lazy val bookSchema = gen[Book]` then it's working well. Note the `lazy` because the type is recursive (it contains `Author` which can contain `Boo

[2019-12-16 02:22] #91 closed

[2019-12-16 02:32] ghostdogpr opened #122 "Add instance of Schema for Future"
Some people are interested in using Caliban even though they're using `Future`. We can easily add a Schema for Future by wrapping it into a ZIO.

[2019-12-16 02:33] ghostdogpr opened #123 "Rename `makeRestService` into `makeHttpService`"
Using `Rest` is confusing, `Http` is more accurate.

For easy migration, keep the old name with a `@deprecated` annotation.

[2019-12-16 04:56] #122 closed

[2019-12-16 05:05] ghostdogpr commented on #120
I will add to the documentation the fact that it won't be nullable if E is `Nothing`.

[2019-12-16 05:10] #123 closed

[2019-12-16 08:21] fokot commented on #121
Yes it worked. Very cool! I will close this issue as there is another one dealing with the FAQ.

[2019-12-16 08:21] #121 closed

[2019-12-19 05:28] ghostdogpr opened #130 "Support for schema transformations"
Something similar to this Apollo-server feature: https://www.apollographql.com/docs/apollo-server/features/schema-transforms/

The current problem is that Caliban currently stores runtime schema into this object:
[code]

`__Type` matches the graphql type used by introspection, while `Step` is a description of a computation, that might require running some effects to get the underlying steps. If yo

[2019-12-19 06:22] ghostdogpr commented on #130
An alternative approach could be to introduce a sealed trait `Transformation` with a list of pre-identified cases (which is what is done in Apollo Server), and apply the changes ourselves case by case on both `__Type` and `Step`. Only `ObjectStep` might be affected because it's the only one that contains type names and a list of fields.

I'll sketch this with a simple transformation like renaming

[2019-12-20 00:24] ghostdogpr opened #132 "Add module for relay support"
See Relay specs here: https://relay.dev/docs/en/graphql-server-specification.html

[2019-12-20 00:25] ghostdogpr opened #133 "Add module for apollo-tracing support"
See specs here: https://github.com/apollographql/apollo-tracing

[2019-12-20 01:43] ghostdogpr commented on #120
Documentation was updated so I close this

[2019-12-20 01:43] #120 closed

[2019-12-20 01:44] ghostdogpr commented on #130
Did a proof of concept that seems OK with the following API:
[code]

[2019-12-20 14:15] ghostdogpr commented on #23
Done using UUID for now

[2019-12-20 14:15] #23 closed

[2019-12-26 06:57] UkonnRa opened #138 "It seems that some data types in Cats(OptionT, fs2.Stream) is not support?"
Say having such the Queries:

[code]

Neither of them can pass the compile. Just throw the errors:
[code]

[2019-12-26 07:48] ghostdogpr commented on #138
Did you add the caliban-cats module and the import mentioned in the [interop docs](https://ghostdogpr.github.io/caliban/docs/interop.html)? I think the first example should work as long as it’s able to derive a schema for `User`. If not, you can try to call `gen` directly and Magnolia might tell you what’s missing.

For the second one, you need a `Schema` instance for `OptionT` and fs2 `Stream`. T

[2019-12-26 09:20] UkonnRa commented on #138
Thanks for quick response, I just wrote the fs2.Stream and OptionT Schemas:
[code]

OptionT Schema works fine, but it seems that the `Stream` cannot work in Query?

Say having a Query schema:

[code]
And if the query is `  val query    = """
  {
    items
  }"""`, you will just get `{"items":<stream>}` rather than **a list of String**.

But if:
[code]
Everything works fine.

So I think: **Stream c

[2019-12-26 09:41] ghostdogpr commented on #138
Yes, that is correct: streams are for subscriptions only. If you want to return a list in your queries, you need to run the stream so the type will be an F of List.

[2019-12-26 09:42] ghostdogpr commented on #138
Actually it could be a good idea to change the executor logic so that if it’s a subscription it returns the stream but otherwise it just runs it and return the result.

[2019-12-26 09:53] UkonnRa commented on #138
It would be great if Stream can be used in both subscription and query! Like this solution!

[2019-12-26 10:33] ghostdogpr commented on #138
If you want you could make a PR with those instances for OptionT and Stream in the cats interop module. I’ll work on the case of stream for queries when I get back from vacation.

[2019-12-26 10:51] UkonnRa commented on #138
Sure, I think it's not difficult. And here is another thing, maybe I should open another issue to discuss. You know http4s is totally based on cats, but your http4s interop is still use zio. So if I want to use the http4s-interop, I must use the type like `type ExampleTask[A] = RIO[Console with Clock, A]` rather than simply use `cats.IO`. So I wonder why you choose ZIO when implement http4s-intero

[2019-12-26 10:54] ghostdogpr commented on #138
There’s also an F-based function in http4s interop: check `makeHttpServiceF`.

[2019-12-27 05:52] UkonnRa opened #140 "Custom Error types"
Now `CalibanError` is a sealed trait and all of the messages will be decoded as a string like:
[code]
But as the [GraphQL Spec says](https://graphql.github.io/graphql-spec/June2018/#sec-Errors), the recommended error looks like:
[code]
And my domain error trait looks like:
[code]

No matter what, I hope that Caliban can handle the JSONObject type, rather than put everything into a single string.

[2019-12-27 09:39] ghostdogpr commented on #140
You can do `mapError` on your `GraphQLInterpreter` object time transform the CalibanError into your own type and unfold your domain errors.

However looking at the Circe encoder i think this will get transformed into a string anyway so I might have to make that more flexible. I’ll have a look when I get back.

[2019-12-27 09:57] UkonnRa commented on #140
Now I have at least two points where I **have to** transform my domain errors into `CalibanError`:

1. When write custom `ArgBuilder`s. Because:
[code]
2. When creating `RootResolver(queries, mutations)`, I have to ensure that all the errors in `IO` must be `CalibanError`, or the runtime exception will be thrown:
[code]

So I have to convert my domain errors into JSON and put them into `CalibanErr

[2019-12-27 10:52] ghostdogpr commented on #140
For 2. they don’t have to be `CalibanError`, they just have to be `Throwable`. You can simply make your domain errors extend Throwable and that should be okay.

[2019-12-28 11:27] UkonnRa opened #142 "Find a way to inject `HTTPRequest` in middleware"
Now it seems that there is not a way to get the `HTTPRequest` in the wrap phase, which is important handling the Authentication. I think we need a way to inject `HTTPRequest` during the wrap phase

[2019-12-28 18:00] ghostdogpr commented on #142
Can you be more specific? I’m using http4s and I was able to add a middleware on top of the route created by caliban. There’s also a blog post by @fokot here http://fokot.github.io/post/caliban-auth.html

[2019-12-29 01:52] UkonnRa commented on #142
**Problem**

The core problem is, I cannot **access the Request** when using `Http4sAdapter.makeHttpServiceF`, so that if I want to do the Auth work, I have to rewrite `makeHttpService` function. Like the link from @fokot.

**One More Step**

Well, what I really want is like:
[code]

Where `class Auth` is the Authentication payload from HTTP Header, like a JWT or other stuff.

Then when constructi

[2020-01-03 08:14] ghostdogpr opened #143 "Add module for Play support"
With support for Play Json serialization and routing.

[2020-01-03 08:16] ghostdogpr opened #144 "Fix custom Schema example in docs"
The docs still talk about Schema having a single type parameter, where it actually has two: `implicit val nonEmptyStringSchema: Schema[NonEmptyString]`

[2020-01-03 08:35] paulpdaniels commented on #143
For reference:
Describes the compile time entry point for a play application
https://www.playframework.com/documentation/2.8.x/ScalaCompileTimeDependencyInjection#Application-entry-point

Describes how a router is instantiated:
https://www.playframework.com/documentation/2.8.x/ScalaCompileTimeDependencyInjection#Providing-a-router

Note the above is for generated routers, it is also possible to cr

[2020-01-03 08:54] paulpdaniels commented on #140
I created a PR #145 which should correctly encode the message into an object instead of a string per the spec. More work will need to be done to provide the other fields. In particular the `location` and `path` field will require changes to the execution, validation and parsing stages, because we will need to

1. Track the index location of the start of the selection field and then compute a relat

[2020-01-04 20:56] phderome opened #150 "There should be example of annotations usage in doc"
For instance from doc (https://ghostdogpr.github.io/caliban/docs/schema.html#annotations), it's not clear how to use `@GQLName("name")` on a `Field`. A mention of `TestUtils` might be useful.

[2020-01-05 02:01] phderome commented on #150
A mention of TestUtils might be useful but it is not that hard to find.

[2020-01-05 02:01] #150 closed

[2020-01-06 09:54] ghostdogpr commented on #144
Fixed in https://github.com/ghostdogpr/caliban/commit/85ee25a2dfdfa59cbd80f2bce6b8333067f6f38c

[2020-01-06 09:54] #144 closed

[2020-01-06 10:05] ghostdogpr opened #155 "Convert StreamStep to a ListStep for queries and mutations"
`StreamStep` return a `StreamValue` after execution, but this only makes sense when using subscriptions. For queries and mutations, we could run the stream and return a `ListValue` of the result instead.

[2020-01-06 10:06] ghostdogpr commented on #138
Created #155 for the change of behavior when using a stream with queries and mutations.

[2020-01-06 10:13] ghostdogpr opened #156 "Errors: add locations"
Add support for the `locations` data for each error as defined in the [GraphQL spec](https://graphql.github.io/graphql-spec/June2018/#sec-Errors):
[code]

This will require extracting the line and column information of each field when parsing queries.
See initial discussion in https://github.com/ghostdogpr/caliban/issues/140

[2020-01-06 10:13] ghostdogpr opened #157 "Errors: add path"
Add support for the `path` data for each error as defined in the [GraphQL spec](https://graphql.github.io/graphql-spec/June2018/#sec-Errors):
[code]

See initial discussion in https://github.com/ghostdogpr/caliban/issues/140

[2020-01-06 10:15] ghostdogpr opened #158 "Errors: support extensions"
Add support for the `extensions` data for each error as defined in the [GraphQL spec](https://graphql.github.io/graphql-spec/June2018/#sec-Errors):
[code]

See initial discussion in https://github.com/ghostdogpr/caliban/issues/140

[2020-01-06 10:16] ghostdogpr commented on #140
Since the rest of the work can be done separately, I created 3 issues #156 #157 #158 for supporting locations, path and extensions. Closing this one.

[2020-01-06 10:16] #140 closed

[2020-01-06 10:41] ghostdogpr commented on #142
You can't use `createUser: (Auth, CreateUser) => F[User]` and provide `Auth` dynamically because all argument values are expected to come from the graphql query.

I think the way to go is to use `Kleisli` or `ApplicativeAsk` from cats-mtl in your Queries/Mutations objects and write a custom `Schema` that converts the input value to a ZIO environment requirement.

[2020-01-06 12:04] hepin1989 commented on #157
When you implement trace support, you will need this one.

[2020-01-06 14:06] eamelink opened #159 "Errors: must be a non-empty list"
According to the spec (https://graphql.github.io/graphql-spec/June2018/#sec-Errors):

Currently Caliban returns an empty list if there are no errors, breaking at least one client (elm-graphql).

[2020-01-06 14:30] ghostdogpr commented on #159
Actually I think this was recently fixed by @paulpdaniels in #145

Is that blocking you? I can do a patch release tomorrow if you need it.

[2020-01-06 14:42] eamelink commented on #159
Ah, yes that seems to fix need. No need to rush a release for me, I'll post-filter it out myself for now. Thanks!

[2020-01-06 14:42] #159 closed

[2020-01-07 04:19] UkonnRa commented on #142
Thanks, I will try to find a way

[2020-01-07 04:19] #142 closed

[2020-01-08 05:31] ghostdogpr commented on #133
The following features are necessary:
- collect information during execution:
  - overall: startTime, endTime, duration
  - parsing: startOffset, duration
  - validation: startOffset, duration
  - execution: for each field: path, parentType, returnType, startOffset, duration
- add (optionally) collected information into an "extensions" field in the response

Ideas:
- overall info can be collected

[2020-01-09 01:56] hderms opened #162 "Add module for Finch support"
an HTTP adapter for https://github.com/finagle/finch would be useful to us. We're very interested in Caliban

[2020-01-09 02:00] ghostdogpr commented on #162
Sounds good (even though I've never used Finch myself, it's totally doable).
Is there a JSON library that is more commonly used with Finch? Is Circe okay?

[2020-01-10 16:53] hderms commented on #162
@ghostdogpr I'm working on a PR for this btw. I'd be using Circe. I had some questions I'll add once I have a draft PR

[2020-01-17 12:56] JurajBurian opened #167 "Support of JSON scalar type."
In Several implementations of graphql there exists possibility to extend scalar types.
Blog: [blog](https://medium.com/open-graphql/top-5-graphql-scalars-3f8a38965b53) also mentions JSON scalar extension for an implementation of graphql.
I can’t  see any easy way how to do it with current implementation of caliban.
If you folks agree that it should be implemented, I can try to make some PR in near

[2020-01-18 02:07] ghostdogpr commented on #167
Using `Schema.scalarSchema` you can easily create custom scalars already no? Like what I did for `Unit`.

For which type would you add a schema that returns a Json scalar? Something like Circe Json? There’s an `Encoder[ResponseValue] `, maybe we should add a `Decoder` too?

[2020-01-18 23:02] phderome commented on #156
Clarification request:

I'd like to understand a few basic things about the types involved. I'd like to know whether this is a reasonable extension
[code]

I’d like to understand why `path` is of the proper type. it seems that the `Int` part is caliban choosing to specify a List index (from some `reduce` step on Lists that does a zip) whereas I am guessing there is no need to inject additional con

[2020-01-18 23:13] phderome commented on #156
How would `GraphQLResponse!handleError` handle the simultaneous presence of `path`, `msg`, and `locations` data? This is more of a behavioural/requirement/modelling question than coding for now.

[2020-01-21 12:27] JurajBurian commented on #167
Hello,
thanks for comment, yes Circe Json is ok. Please, look to mine [fork](https://github.com/JurajBurian/caliban/commit/32dc6b9046aacd367bef1a1cf8959bebef192920).
I tried to solve problem introducing :
[code]
Also an implementation of input value encoder:  `Encoder[InputValue]` is necessary.

Then in mine project I am able to define :
[code]
I am not very happy with solution, but is working.
If

[2020-01-21 13:29] ghostdogpr commented on #167
Why do we need `GenericScalar`? Can't you just do:
[code]
With `???` being a function that transforms Json to ResponseValue (very similar to existing `jsonToValue`). `Json` can already be expressed using `ResponseValue` so we don't need an extra type. Or am I missing something?

By the way FYI, to include JSON encoders and decoders for `Value`, `GraphQLRequest` and `GraphQLResponse` inside Caliban

[2020-01-21 15:13] JurajBurian commented on #167
Ok. I see point. Question is, do you want extend project with extensions ?  I can  create  caliban-circe- json-extension, containing all necessary stuff:
(package : caliban.extension.scalar)
[code]
I believe that that  lot of people can use cicrce json directly ...

[2020-01-22 01:19] ghostdogpr commented on #167
I think we can use the same technique I mentioned earlier (as shown in https://github.com/ghostdogpr/caliban/blob/master/core/src/main/scala/caliban/interop/circe/circe.scala), so we don’t need a separate module. What do you think?

[2020-01-22 10:38] JurajBurian commented on #167
I recommended separate module (artifact) because scalar Json support is an extension (not part of specification of graphql).
Also extension can be understand as "black box solution" .... implicits : `Schema` and `ArgBuilder` easily accessible via. import.
For now I am not able to see "black box solution" for different implementations of Json, so this is second reason why we should have separate ar

[2020-01-22 14:12] ghostdogpr commented on #167
Actually I already have some custom scalars such as `Unit`, `BigInt` and `BigDecimal` in the core library. Having a separate dependency for each of them feels a bit cumbersome to use and to maintain. Each library is cross-published for 2.12, 2.13 + ScalaJS, later dotty.

The optional dependency is not a problem because if someone needs those `Schema`/`ArgBuilder` instances for `Json`, it means the

[2020-01-23 15:54] fokot opened #170 "Type names validations"
You can write output type like `case class XXXInput` and input type `case class XXX` which would produce invalid schema. `Graphiql` will fail on this.

Also another possible error is having two  output types with same name from different packages which will result in error that the first type is used in Schema, so `graphiql` does not report error but wrong type is there and it will fail when execu

[2020-01-25 15:11] ghostdogpr commented on #170
I agree some kind of check would be useful. The question is at which point do we perform that check and how do we report the problem. Most functions for building and combining apis are pure and without effects. The one that’s effectful is run for each request so it’s not ideal for this.

[2020-01-26 02:02] phderome opened #175 "Provide support for GET verb in the two http interfaces (Akka and http4s)"
See GraphQL relevant doc: https://graphql.org/learn/serving-over-http/

[2020-01-26 05:27] #155 closed

[2020-01-26 05:38] ghostdogpr commented on #167
I made a PR #176 for this. It only requires `import caliban.interop.circe.json._` to work.

[2020-01-27 08:22] JurajBurian commented on #167
Thanks a lot. Looks great.
I had plan do it, but I was inoperative for few days ...

[2020-01-28 01:02] ghostdogpr commented on #175
Done in #177

[2020-01-28 01:02] #175 closed

[2020-01-28 11:17] #167 closed

[2020-01-28 13:03] ghostdogpr commented on #156
Closed by #168

[2020-01-28 13:03] #156 closed

[2020-01-28 13:48] ghostdogpr commented on #158
We discussed returning `innerThrowable` and possibly `explanatoryText` as extensions.

[2020-01-29 03:02] phderome commented on #72
I'd like to volunteer to pursue this for approximately the period of 1/2 of February.

[2020-01-31 01:01] ghostdogpr commented on #47
Base work was done in #118 . I will create separate issues for remaining work.

[2020-01-31 01:01] #47 closed

[2020-01-31 01:13] ghostdogpr opened #185 "Codegen: support enums"
The sbt plugin caliban-codegen generate your case classes from a GraphQL schema. It currently doesn't support enums.

Parse enums and generate the appropriate sealed trait + case objects.

You can have a look at how `type` is currently handled and apply the same logic. Let me know if you need some guidance, I'll be happy to help.

[2020-01-31 01:14] ghostdogpr opened #186 "Codegen: support input"
The sbt plugin caliban-codegen generate your case classes from a GraphQL schema. It currently doesn't support input types.

Parse inputs and generate the appropriate case classes.

You can have a look at how `type` is currently handled and apply the same logic. Let me know if you need some guidance, I'll be happy to help.

[2020-01-31 01:14] ghostdogpr opened #187 "Codegen: support union"
The sbt plugin caliban-codegen generate your case classes from a GraphQL schema. It currently doesn't support union types.

Parse unions and generate the appropriate sealed trait + case classes.

You can have a look at how `type` is currently handled and apply the same logic. Let me know if you need some guidance, I'll be happy to help.

[2020-01-31 01:16] ghostdogpr opened #188 "Codegen: support schema"
The sbt plugin caliban-codegen generate your case classes from a GraphQL schema. It currently doesn't support "schema" declaration (see [spec](http://spec.graphql.org/June2018/#sec-Root-Operation-Types)).

Parse schema so that the types declared are moved to `Operations` (same as types named `Query`, `Mutation` and `Subscription`).

You can have a look at how `type` is currently handled and apply

[2020-01-31 01:19] ghostdogpr opened #189 "Codegen: support scalar"
The sbt plugin caliban-codegen generate your case classes from a GraphQL schema. It currently doesn't support scalar.

Generate a trait or a type with the scalar name?

You can have a look at how `type` is currently handled and apply the same logic. Let me know if you need some guidance, I'll be happy to help.

[2020-01-31 07:11] atapin commented on #186
@ghostdogpr I started working on this. It looks like we need to support of inputs in the parser as well. Is it ok to do both core and codegen changes in a single PR?

[2020-01-31 07:25] ghostdogpr commented on #186
@atapin Awesome! You're correct, each of those issues requires extending the parser to support the missing [type definitions](http://spec.graphql.org/June2018/#TypeDefinition), and then adding the corresponding code generation. Perfectly fine to do all in one PR.

[2020-02-04 12:11] yoohaemin commented on #185
I'll look into this

[2020-02-09 04:33] ghostdogpr commented on #187
I'm doing this one.

[2020-02-09 05:40] ghostdogpr commented on #189
Doing this one

[2020-02-09 05:40] ghostdogpr commented on #188
Doing this one

[2020-02-09 07:13] #185 closed

[2020-02-09 07:13] #186 closed

[2020-02-09 07:13] #187 closed

[2020-02-09 07:13] #188 closed

[2020-02-09 07:13] #189 closed

[2020-02-12 11:35] jvican opened #212 "Add support for Monix subscriptions"
Hi! I'm considering using caliban to do GraphQL in a Monix-based application. I've seen you have support for cats via enrichments such as `executeAsync` but I haven't seen there's support to use `Observable/Observer` when implementing subscriptions.

I'd like to propose that caliban provides a new module that, in short, allows me to do something like this example:

[code]

[2020-02-12 13:40] ghostdogpr commented on #212
@jvican Hi! (big fan of your work on bloop so happy to see you here 😄)

This sounds totally doable. We could have a module `caliban-monix`, similar to the `caliban-cats` that would provide a `Schema` for `Observable` (and any other needed type).
[code]
The only missing bit is how to convert an `Observable` to a `ZStream`. I have never used Monix before but from the docs it seems to be push-based,

[2020-02-12 14:26] ghostdogpr commented on #212
We could even use [zio-interop-reactive-streams](https://github.com/zio/interop-reactive-streams) since `Observable` is compatible with Reactive Streams.

[2020-02-12 14:36] jvican commented on #212
I think a `caliban-monix` module would make a lot of sense :smile: Ideally, we'd have native support for Monix and avoid conversions between the pull-based model and the push-based model, which would hurt performance, especially sensitive when streaming.

I don't currently have the time to look at this but it isn't super time pressing. I imagine it would take me a bit to make this contribution and

[2020-02-13 00:20] ghostdogpr opened #213 "GraphQL Client"
New module `caliban-client` based on sttp that provides an easy-to-use DSL for creating GraphQL queries in Scala.

[2020-02-13 00:21] ghostdogpr commented on #213
I'm on it. The core of the work is done, I need to write the code generation tool, documentation and a lot of tests.

[2020-02-13 01:02] ghostdogpr commented on #212
OK, I will give it a try and let you know if I have any difficulties.

To answer your questions: yes, Caliban is pretty much tied to ZIO. That is because it takes full benefit of ZIO core features, namely the explicit error type and the embedded environment. That way, ZIO users can have the "full" experience while CE/Monix users only use a subset (no environment, E = Throwable). If the library use

[2020-02-13 02:46] ghostdogpr commented on #212
Made PR #214 for this. It seems to work fine on a simple example with both `Task` and `Observable`. I'm not sure if the conversion ZIO <-> Monix is the most efficient possible so any feedback is welcome.

[2020-02-15 12:50] Krever opened #218 "Derive operations schema from traits"
Right now deriving schema for operations (queries, mutations, subscriptions) requires defining a case class in form of
[code]
which is slightly inconvenient because you need to define `MyOpInput` for each operation.
Instead, we could derive the schema from trait like this:
[code]
so we can scrap this one layer of boilerplate.
I think there are no technical limitations in general but it would requi

[2020-02-15 12:56] ghostdogpr commented on #218
The idea is nice but as you mentioned, Magnolia doesn’t allow doing this. If anyone has macro skills (I have zero) and want to give it a try, let us know 😄

[2020-02-15 18:11] Krever commented on #218
Unfortunately, the amount of my macro experience is just the same. In case either of us or anyone else would like to give it a shot in the future I link below some examples of similar macros

1. cats-tagless derives FunctorK, so something that is able to transform all methods returning `F[_]` into methods returning `G[_]` when provided `F ~> G`: https://github.com/typelevel/cats-tagless/blob/maste

[2020-02-17 02:50] #212 closed

[2020-02-17 14:06] #72 closed

[2020-02-17 14:39] ghostdogpr commented on #212
Released version 0.5.2 with this!

[2020-02-20 00:06] #4 closed

[2020-02-22 07:00] ghostdogpr commented on #132
Now that interfaces are supported, a relay-like schema can be implemented using regular Caliban. I don’t think we need a dedicated module.

[2020-02-22 07:00] #132 closed

[2020-02-22 09:11] ghostdogpr commented on #170
Since #227 , we now validate the schema when calling `.interpreter`. So we have a place to implement these checks.

[2020-02-22 09:16] ghostdogpr opened #228 "Schema validation: objects"
In `Validator.validateSchema`, verify the [rules for object types](https://spec.graphql.org/June2018/#sec-Objects)

1. An Object type must define one or more fields.
2. For each field of an Object type:
   1. The field must have a unique name within that Object type;
      no two fields may share the same name.
   2. The field must not have a name which begins with the
      characters {"__"} (two

[2020-02-22 09:17] ghostdogpr opened #229 "Schema validation: interfaces"
In `Validator.validateSchema`, verify the [rules for interface types](https://spec.graphql.org/June2018/#sec-Interfaces)

1. An Interface type must define one or more fields.
2. For each field of an Interface type:
   1. The field must have a unique name within that Interface type;
      no two fields may share the same name.
   2. The field must not have a name which begins with the
      charact

[2020-02-22 09:18] ghostdogpr opened #230 "Schema validation: unions"
In `Validator.validateSchema`, verify the [rules for union types](https://spec.graphql.org/June2018/#sec-Unions)

1. A Union type must include one or more unique member types.
2. The member types of a Union type must all be Object base types;
   Scalar, Interface and Union types must not be member types of a Union.
   Similarly, wrapping types must not be member types of a Union.

[2020-02-22 09:20] ghostdogpr opened #231 "Schema validation: input objects"
In `Validator.validateSchema`, verify the [rules for input object types](https://spec.graphql.org/June2018/#sec-Input-Objects)

1. An Input Object type must define one or more input fields.
2. For each input field of an Input Object type:
   1. The input field must have a unique name within that Input Object type;
      no two input fields may share the same name.
   2. The input field must not ha

[2020-02-22 09:22] ghostdogpr opened #232 "Schema validation: directives"
In `Validator.validateSchema`, verify the [rules for directives](https://spec.graphql.org/June2018/#sec-Type-System.Directives)

1. A directive definition must not contain the use of a directive which
   references itself directly.
2. A directive definition must not contain the use of a directive which
   references itself indirectly by referencing a Type or Directive which
   transitively include

[2020-02-22 10:09] fagossa commented on #143
hello, can I take this one?

[2020-02-22 10:12] ghostdogpr commented on #143
@fagossa Hi! I think @yoohaemin was already working on it but he also wanted to get some feedback from people with Play experience.

@yoohaemin let us know where you're at and if @fagossa can help. Thanks!

[2020-02-22 17:47] palanga commented on #230
Can I take this ?

[2020-02-23 08:55] #230 closed

[2020-02-23 09:10] #213 closed

[2020-02-23 09:18] ghostdogpr opened #236 "Caliban client: add support for subscriptions"
Currently Caliban Client only supports regular sttp requests. It would be nice to also offer a solution for subscriptions. Since it's a whole protocol and not just request/response, we need some wrapper around a websocket connection.

I suspect it will require usage of `Ref`, `Queue` and/or `Stream` so maybe we do a ZIO version and a cats-effect/fs2 one.

Note: there is no sttp backend for ScalaJS

[2020-02-23 09:23] ghostdogpr opened #237 "Caliban client: better helper for interfaces"
Currently for each field that returns an interface, we generate a function that takes an optional `SelectionBuilder` for each type that implements the interface. If we want to select fields from the interface (common to all types), we still need to provide a `SelectionBuilder` for each type.

We need something more user-friendly for that particular use case.

[2020-02-23 09:28] ghostdogpr opened #238 "Support type system extensions in Parser"
Schema extensions will make the codegen commands fail. We need to add support for it in the parser.

See http://spec.graphql.org/June2018/#TypeSystemExtension

[2020-02-24 04:21] zach-albia commented on #228
Working on this if someone isn't already.

[2020-02-25 00:48] #162 closed

[2020-02-25 18:20] TobiasPfeifer commented on #229
I'd like to work on this

[2020-02-26 13:29] mriceron commented on #231
I can work on this if no ones is

[2020-02-26 14:18] ghostdogpr commented on #231
@mriceron sure! 👍

[2020-02-26 17:55] TobiasPfeifer commented on #229
From the given rules its not 100% clear to me if empty names for fields and arguments are valid. Empty names don't make sense imo though. Other thoughts on this?

[2020-02-27 00:28] ghostdogpr commented on #229
@TobiasPfeifer I don't think we need to check for empty names because they are derived from Scala case class parameters and those can't be empty anyway.

[2020-02-28 03:44] argson67 commented on #218
Ask and ye shall receive :-)

[2020-02-28 10:13] #231 closed

[2020-02-29 02:55] ghostdogpr opened #248 "Error when receiving a response with no data field"
Example of valid response giving a decoding failure:
[code]

This is because we always expect `data`.

[2020-02-29 03:00] ghostdogpr opened #249 "Input objects are not properly encoded"
Input object fields are surrounded with double quotes, but they should not.

`"field": value` should be `field: value`

The problem is that we use `Value#toString` to encode input values, but that gives a JSON-like representation which is not the one we want here.

[2020-02-29 03:01] ghostdogpr opened #250 "Input enums should not be surrounded with quotes"
An input enum is encoded into `direction:"DESC"` instead of `direction:DESC`.

[2020-02-29 03:03] ghostdogpr opened #251 "Generate default values of None for optional arguments"
Example of function generated with the Github API:
[code]

It is inconvenient to have to pass `None` for each of them. We could add ` = None` when generating the code.

[2020-02-29 03:07] ghostdogpr commented on #248
Working on this one

[2020-02-29 03:12] kitlangton commented on #251
I'm going to take a shot at this tomorrow morning :)

[2020-02-29 03:16] ghostdogpr commented on #250
Working on it

[2020-02-29 03:17] ghostdogpr commented on #249
Working on it

[2020-02-29 03:21] #248 closed

[2020-02-29 13:02] ghostdogpr commented on #229
Closed by #243

[2020-02-29 13:02] #229 closed

[2020-03-01 00:18] #249 closed

[2020-03-01 00:18] #250 closed

[2020-03-01 11:30] ghostdogpr opened #255 "Validation error when a variable is used inside an array or an object"
This mutation triggers a validation error: "Variable 'day' is not used" even though it is used.

[code]

[2020-03-01 11:33] ghostdogpr opened #256 "Add skipValidation to makeRestService and makeWebSocketService"
The `execute` method on an interpreter has a parameter `skipValidation`, but it's not possible to use it when using one of the Http adapters.

Add a new parameter `skipValidation: Boolean = false` to `makeRestService` and `makeWebSocketService` in each adapter that will be passed to `execute`, so that this feature can be used more easily.

- Http4sAdapter
- AkkaHttpAdapter
- FinchAdapter

[2020-03-02 02:51] #251 closed

[2020-03-02 06:54] #255 closed

[2020-03-02 21:44] spf3000 commented on #232
I would like to attempt this

[2020-03-03 09:39] javimartinez commented on #256
Hi! I would like to contribute to the project, can I take this one?

[2020-03-03 09:40] ghostdogpr commented on #256
@javimartinez sure! Let me know if you need any help 👍

[2020-03-04 00:52] #256 closed

[2020-03-04 15:12] jorge-vasquez-2301 commented on #238
Hi @ghostdogpr I'd like to work on this as my first contribution 😃

[2020-03-05 00:14] ghostdogpr commented on #238
@jorge-vasquez-2301 sure! Let me know if you need any help.

[2020-03-10 06:12] ghostdogpr commented on #170
Working on this.

[2020-03-11 00:16] #170 closed

[2020-03-11 05:09] #138 closed

[2020-03-11 09:35] #158 closed

[2020-03-12 11:31] user753 opened #283 "Update examples"
[code]
There isn't `unsafeFromLayer`, `Console.live`, `Click.live`

[2020-03-12 11:33] ghostdogpr commented on #283
Ah, this is because the master branch is using the new ZIO RC18 but I didn't release caliban with it yet (I'll probably release tomorrow). If you use caliban 0.6.0, you can look at the examples at the time of tag 0.6.0: https://github.com/ghostdogpr/caliban/tree/v0.6.0/examples

[2020-03-12 11:40] #283 closed

[2020-03-12 14:05] #238 closed

[2020-03-19 09:28] ghostdogpr opened #287 "Adapter for uzhttp"
[uzhttp](https://github.com/polynote/uzhttp) is a minimal http server library built on top of ZIO. It's perfect when you only need to expose your GraphQL API and nothing else.

[2020-03-19 09:28] ghostdogpr commented on #287
Working on it

[2020-03-21 07:35] ghostdogpr opened #290 "Codegen: generate from a GraphQL server URL using introspection"
Currently the code generation tool works from a file in the GraphQL IDL format. Instead, we could simply request the URL of a GraphQL server and use introspection to get the schema.

Getting the introspection data can be done using the Caliban client module.

[2020-03-21 07:36] ghostdogpr commented on #290
Started the work on this.

[2020-03-23 13:20] vpavkin commented on #143
Hello, all :)
I have both incentive and time to bring this one to completion soon. Please let me know if I can pick it up from here

Thanks!

[2020-03-24 03:21] yoohaemin commented on #143
Hi @vpavkin , it's all yours. Thanks.

[2020-03-29 09:14] ghostdogpr opened #300 "Support for Apollo Persisted Query"
See specs: https://github.com/apollographql/apollo-link-persisted-queries

This requires a change of `WrappingFunction` to make it more flexible.

[2020-03-29 09:14] ghostdogpr commented on #300
I'm on it.

[2020-03-29 10:05] ghostdogpr opened #301 "Add GET variant to Finch adapter"
The other adapters (Akka HTTP, http4s) support both POST and GET variants, but the Finch one only has the POST one.

[2020-03-30 12:31] #300 closed

[2020-03-31 07:39] javimartinez opened #303 "Add ArgBuilders for Seq, Set and Vector"

[2020-03-31 07:52] #303 closed

[2020-04-01 07:22] javimartinez commented on #301
I can work on this!

[2020-04-03 13:09] ghostdogpr opened #309 "Add a helper to make http4s middleware creation easier"
A very common need is to extract some data from the HTTP request (e.g. headers) in order to access it from resolvers. With http4s and caliban, the proper way to do that is to write an http4s middleware that will read the request and feed the extracted data into ZIO environment. Then you wrap the route returned by caliban with this middleware.

Since it's not so easy to do that with http4s, it woul

[2020-04-05 00:34] #309 closed

[2020-04-06 01:53] #301 closed

[2020-04-11 00:22] #287 closed

[2020-04-15 00:18] #290 closed

[2020-04-15 00:20] ghostdogpr opened #322 "Codegen: add options to sbt command"
Add an option to specify headers when using a URL. Also make the scalafmt path an option.

The current code isn't very convenient for dealing with options, maybe use something like https://github.com/scopt/scopt?

[2020-04-15 01:17] joprice commented on #322
This one is nice too https://github.com/alexarchambault/case-app

[2020-04-15 01:19] ghostdogpr commented on #322
@joprice thanks. Anything is fine, since it's for the codegen tool we don't need to worry about transitive dependencies 😄

[2020-04-15 06:55] javimartinez commented on #232
Working on this

[2020-04-15 23:39] ghostdogpr opened #326 "Codegen: make it usable without sbt"
Move the sbt-specific code to a new module `caliban-codegen-sbt` and make `caliban-codegen` a regular module that can be used without sbt.

[2020-04-16 12:59] joprice commented on #326
I did this here https://github.com/ghostdogpr/caliban/pull/327. I haven't published locally yet to test yet. Looks like there's no scripted tests integrated. Is there an example project that I should modify to test it?

[2020-04-16 13:17] ghostdogpr commented on #326
I usually use https://github.com/ghostdogpr/caliban-blog-series for testing this.

[2020-04-18 02:31] #326 closed

[2020-04-19 10:44] hepin1989 opened #336 "Add maxBatchSize support"
Then when do an auto batching, Caliban can do a grouped call first.
Below is what I did in our internal java implementation.
![image](https://user-images.githubusercontent.com/501740/79685759-ba7cab00-826d-11ea-8b9f-051f7491b8db.png)

[2020-04-19 11:01] ghostdogpr opened #337 "Create a GraphQL API from Tapir endpoints"
Turn a [Tapir](https://github.com/softwaremill/tapir) endpoint definition into a GraphQL API.

[2020-04-19 11:05] ghostdogpr commented on #143
Play-json integration is now part of caliban core. The work of creating the adapter with an example (which should be easier now that play-json is supported) is still TODO if anyone is interested.

[2020-04-19 11:21] ghostdogpr opened #338 "ZQuery parallel combinators run effects sequentially"
`ZQuery` parallel combinators run queries using Datasource in parallel, but arbitrary effects run sequentially, which is not really expected.

[2020-04-19 20:41] adamgfraser commented on #336
I will work on this.

[2020-04-20 10:00] ghostdogpr commented on #232
Closed by #333

[2020-04-20 10:00] #232 closed

[2020-04-20 10:02] #338 closed

[2020-04-20 13:58] ghostdogpr opened #341 "Handle the case when an argument is not wrapped in a case class"
It is a common mistake to forget wrapping arguments in a case class (e.g. a field of type `Int => Task[String]`. Currently, this produces a field with no argument. ~~It would be better to fail during schema validation to notify the problem clearly.~~

Actually, we could generate the argument with a defaut name instead. Like `value` or something. That way it works and if the user wants to change th

[2020-04-21 11:43] #341 closed

[2020-04-21 23:37] carlminden opened #343 "GenericSchema doesn't seem to work with Generic Types"
I am trying to get a project set up using caliban and I wanted to be able to abstract out some of the Api and Service logic so that I could have different implementations of these pieces for each object in my data model.

To test this out I started building a simple "blog" app just to see if I could get things hooked up the way I wanted, when I set it up with a single model everything worked fine,

[2020-04-22 03:57] ghostdogpr commented on #343
Hi! I am not sure I clearly understand what you are trying to achieve.

If you want your schema to require a generic `Has[T]`, your query field can't return `Has[PostService]`. You would have to make the case class generic too and wouldn't be able to give an implementation if T is unknown.

But is your goal just to have different implementations of `getPosts`? If so, you can simply create a `trait

[2020-04-22 11:28] ghostdogpr opened #344 "Masking parts of the schema based on permissions"
This was suggested on Discord. I don't think it is possible in the current state to hide some parts of the schema during introspection.

[2020-04-24 18:18] mitsutaka-takeda opened #348 "Variables in Subscription"
Hi. Thank you for the great library!

I started playing around with caliban and  tried to use a variable in my subscription query like this one.

[code]

But caliban fails to execute query because it can not resolve the variable "$topic". I checked the WebSocket message and it contains variable definitions as expected.

[code]

The code for Http4sAdapter ignores the variables in payload is this in

[2020-04-24 22:26] ghostdogpr commented on #348
Hi! This is definitely not intentional, good catch 😄 Would you like to submit a PR to fix it? I’m guessing the problem might exist on all adapters that support WebSockets (that’s be http4s, Akka and uzhttp).

[2020-04-25 08:23] #348 closed

[2020-04-26 13:14] mitsutaka-takeda opened #354 "Supporting ws (not wss) for development"
Hi. I wanted to use ws request for local development with a tool like [postwoman](https://github.com/liyasthomas/postwoman), but a connection failed because response from a server always include 'Sec-WebSocket-Protocol' header.

https://github.com/ghostdogpr/caliban/blob/2c760400a0273b38444d28c2915859edc016d887/adapters/http4s/src/main/scala/caliban/Http4sAdapter.scala#L233

This header in respons

[2020-04-26 14:27] ghostdogpr commented on #354
Hi! First time I hear about postwoman, nice alternative to postman 😄

The thing is, this WS adapter implements the `graphql-ws` protocol so I think it makes sense to use this header. If we wanted to be 100% correct, we should actually reject client queries if they don't have this header. Or we could just be more permissive as you suggest.

As far as I can see, postwoman doesn't support subscriptio

[2020-04-26 15:10] mitsutaka-takeda commented on #354
Yes, I'm using the "Realtime" tab. I didn't know about the graphql-ws protocol.

I just tried Altair, and its working and looks really good! I will close this issue. Thanks!

[2020-04-26 15:10] #354 closed

[2020-04-27 20:39] kiranbayram commented on #322
I can give this a go if nobody else is working on it

[2020-04-28 00:06] ghostdogpr commented on #322
@kiranbayram awesome! In addition to the libraries mentioned above, zio-config also supports command-line arguments: https://zio.github.io/zio-config/docs/sources/sources_index#command-line-arguments. It might be a good choice considering we already depend on zio.

[2020-04-28 07:20] kiranbayram commented on #322
Thanks for the hint @ghostdogpr , i'll try to use `zio-config` 👍

[2020-04-30 22:03] antosha417 opened #365 "Proper way to clean resources on websocket closure"
Hi!
In [examples](https://github.com/ghostdogpr/caliban/blob/0f2e4d5465942f00c6164aa906ccd83f70385474/examples/src/main/scala/caliban/ExampleService.scala#L67) there is a queue creation on every subscription.
Why is it not possible to clean such resources on websocket closure?
It seems that the only way is to call `queue.shutdown` explicitly when it gets too big.
Thank you in advance!

[2020-05-01 00:00] #322 closed

[2020-05-01 00:07] #337 closed

[2020-05-01 00:18] ghostdogpr commented on #365
@antosha417 Hi! You're right, the queues created in `examples` were staying there forever. I had this logic:
[code]
but the queue was never shutdown, so it was never removed from `subscribers`.
I fixed it in this commit: https://github.com/ghostdogpr/caliban/commit/7a276759c4ccaada6486ad0df02cd2f8d8d72f25

This will shutdown the queue when we interrupt the stream (which happens if we unsubscribe o

[2020-05-01 00:18] #365 closed

[2020-05-01 14:31] ghostdogpr opened #367 "Codegen for server: conflict between argument case classes"
With the following schema:
[code]
SchemaWriter will generate 2 case classes named `SimilarArgs` that clash with each other.

[2020-05-01 16:59] asachdeva commented on #367
@ghostdogpr I can work on this...unless its been picked up?

[2020-05-01 23:40] ghostdogpr commented on #367
@asachdeva Sure, you can take it. Thank you!

[2020-05-05 01:37] ghostdogpr commented on #343
Closing now but feel feee to reopen or reach out on Discord if you’d like to discuss more.

[2020-05-05 01:37] #343 closed

[2020-05-05 08:04] ghostdogpr commented on #344
Related discussion: https://github.com/graphql/graphql-js/issues/113

[2020-05-06 06:24] javimartinez commented on #143
Anyone working on this already? Otherwise, I'd like to tackle it.

[2020-05-06 06:34] ghostdogpr commented on #143
@javimartinez that'd be awesome! As mentioned earlier, the json serialization is already included in caliban so you can reuse it. We also agreed previously on supporting Play 2.8 only.

[2020-05-06 08:29] javimartinez commented on #143
Great! I'm going to work on it then

[2020-05-06 19:38] tovbinm opened #372 "Is there a way to diff two GraphQL schemas?"
Such feature is quite important for versioning the GraphQL schemas, when one would like to compare the differences between two schema versions.

[2020-05-07 12:01] ghostdogpr commented on #372
@tovbinm a couple questions to help me figure out how it should look like:
- do you see that as a method you can call from your own code or as a tool? (like the codegen sbt plugin)
- where would the schemas come from? introspection from URLs? or your own code (but that would mean keeping both versions)?

[2020-05-07 15:37] paulpdaniels commented on #372
I would think HEAD vs a remote schema would be the most reasonable, though that is just for our CI setup. Apollo-cli tools have something similar as well that we could look to for inspiration.

[2020-05-07 15:52] tovbinm commented on #372
@ghostdogpr I would like to be able to use it from the code. Currently we use a service with a GraphQL API that serves our schema version N with tens of thousands of types. The service supports schema merging (upserting). Currently when we change the schema to version N+1 we upload the whole schema to the service, but it takes significant amount of time to merge between them. Since the majority of

[2020-05-08 07:40] fkowal opened #374 "tapir integration operation name conflict"
Let me just start by thanking you for this amazing work that you've done.
Caliban is absolutely amazing.

Here's an issue I ran into, and after some exploration, I didn't find a way to resolve it.

Here are two endpoint i described using `tapir`
[code]

as far as I can tell [extractPath](https://github.com/ghostdogpr/caliban/blob/master/interop/tapir/src/main/scala/caliban/interop/tapir/package.sc

[2020-05-08 08:04] javimartinez commented on #372
In my opinion, it'd be nice to have both:
* Methods that we can use in the code:

    Maybe something similar to https://sangria-graphql.org/learn/#schema-comparison. With that, we can cover  @tovbinm 's use case, and also it'd possible to identify the breaking changes and generate the release notes.

* A tool (sbt plugin) which can be used in the CI. Besides the above features, it could have the

[2020-05-08 08:08] ghostdogpr commented on #374
Thanks for the kind words about the library and the detailed explanation.

This is indeed a problem, and in addition to what you said once the WIP PR for https://github.com/ghostdogpr/caliban/issues/228 is merged, the schema validation will fail because each field must be unique according to validation rules.

Will comment on the solution in your PR.

[2020-05-08 08:23] ghostdogpr commented on #372
That sounds very similar to `caliban-codegen` and `caliban-codegen-sbt`. These modules already depends on both caliban client and server and contain the code to introspect by URL. Maybe we just rename them `caliban-tools` and `caliban-tools-sbt`?

[2020-05-08 08:36] javimartinez commented on #372
Yes, it makes sense for me

[2020-05-08 20:21] adamgfraser opened #376 "Make ZQuery Operators Stack Safe"
For example, this test fails now:

[code]

I am working on this.

[2020-05-10 04:04] #376 closed

[2020-05-12 00:05] ghostdogpr commented on #374
Closed by #375

[2020-05-12 00:05] #374 closed

[2020-05-12 14:59] fkowal opened #383 "java.lang.Enum Schema definition"
I am trying to figure out how can I define a Schema for any java enum type

[code]

any type of hint would be greatly appreciated

[2020-05-13 00:51] ghostdogpr commented on #383
For a specific java enum, I would do this:
[code]
That would transform it into a GraphQL enum.
I don't think there's a simple way to do that for any enum, without resorting to macros or reflection.

[2020-05-13 06:18] fkowal commented on #383
Thanks a lot, this is plenty good

[code]

[2020-05-13 10:31] ghostdogpr commented on #383
Cool! Closing this one then.

[2020-05-13 10:31] #383 closed

[2020-05-14 08:59] paulpdaniels commented on #344
I'd probably file this under providing some more flexibility around introspection, maybe just allowing access to it through something like the wrapper mechanism, I don't know if the case of hiding introspection based on user roles is really super compelling or even really necessary in most cases. I think Lee's points are fairly compelling to that end.

[2020-05-14 09:01] ghostdogpr commented on #344
A type of wrapper that only applies to introspection, that's an idea 🤔

[2020-05-16 03:21] ghostdogpr commented on #336
Closing since ZQuery moved to another repo.

[2020-05-16 03:21] #336 closed

[2020-05-16 11:15] ghostdogpr opened #392 "Upgrade to ZIO RC19"
The following dependencies need to be upgraded and released first:
- [x] zio-query [PR merged](https://github.com/zio/zio-query/pull/24)
- [x] zio-interop-cats [PR merged](https://github.com/zio/interop-cats/pull/179)
- [x] zio-interop-reactive-streams [PR merged](https://github.com/zio/interop-reactive-streams/pull/118)
- [x] zio-config [PR merged](https://github.com/zio/zio-config/pull/332)
- [x

[2020-05-17 10:48] imolorhe commented on #354
Hey, just to add my two cents. Altair is web-based, but also has browser extensions and desktop apps 🙂 If you don't want to install anything, you can just use the [online version](https://altair-gql.sirmuel.design/).

[2020-05-17 13:14] ghostdogpr commented on #354
@imolorhe oh that's cool, I didn't know. I am a big fan of Altair, this is my main tool for testing Caliban and I always recommend it. Thanks a lot for your work! 🙏

[2020-05-17 13:18] imolorhe commented on #354
Nice! I'm glad to hear that Altair has been very useful!

[2020-05-17 13:57] schrepfler commented on #236
A good start for a protocol would be the Apollo ws subscriptions project https://github.com/apollographql/subscriptions-transport-ws
I've started a project where I wanted to implement just that but I wasn't aiming to make it too generic. If you want you can nick the case classes https://github.com/schrepfler/artemis though it's not functional or even tested to validate actual stream flow so I can'

[2020-05-17 14:32] ghostdogpr commented on #236
@schrepfler yep, that protocol is what I implemented already on the server side and was intended to use for the client as well.

The main blocker for this issue is that I chose to capitalize on sttp for caliban-client (so that users could pick the backend of their choice), but there is no sttp backend that support WebSockets on Scala.js. If it never comes maybe I should use something else 🤔

[2020-05-17 19:42] schrepfler commented on #236
Didn't they address this in sttp2? https://blog.softwaremill.com/websockets-in-scala-using-sttp-baefd207c5fb

[2020-05-17 23:05] ghostdogpr commented on #236
@schrepfler Sadly not on Scala.js so far

[2020-05-19 00:48] #143 closed

[2020-05-20 00:09] #392 closed

[2020-05-20 15:42] szymonrodziewicz opened #404 "Wrong type of field in interface"
I have a following case class structure:
[code]
I use it to generate my GraphQL schema. `ResponseIO` is a wrapper for ZIO type. It results in a schema that has a ` problematicField: [SomeType!]` in the Question interface:
[code]
 It seems like it was trying to incorrectly optimise the schema and pull answer type to Q interface, despite them having different type arguments - at one case it's a Stri

[2020-05-20 22:34] ghostdogpr commented on #404
Thanks for the report. The reason for this optimization is that Magnolia doesn’t give access to the fields of the interface trait, so we find ourselves what are the fields in common in the subtypes. We should definitely add a check to only take fields that return the same type (here: https://github.com/ghostdogpr/caliban/blob/af23ac346759c27612186c0106a44dc40d3a1f2d/core/src/main/scala/caliban/sch

[2020-05-21 12:26] szymonrodziewicz opened #405 "Is it possible to create parameterized field with Caliban?"
I have a following schema:
[code]
Then I apply it to the graphQL(RootResulover(Query(...))) and I get following error:
[code]
And I wonder - is it possible to achieve what I've written there? I.e. type A with parameterized getB field.

[2020-05-21 12:43] ghostdogpr commented on #405
Yeah, that shouldn't be a problem. I just tried the following and it compiles:
[code]
You didn't say what is B though, so there might be something else causing the compile error.
One way to find out is to call `Schema.gen` directly on your case classes, which gives a more detailed error message about what's missing, like:
[code]

[2020-05-21 13:01] szymonrodziewicz commented on #405
Ok, so that's the full example that reproduces the error:
[code]
I missed the List[B] part.

[2020-05-21 13:22] ghostdogpr commented on #405
I see. That is something that happens when there is too much nesting: Magnolia (the library that derives the schema for your types) has trouble deriving everything at once and needs a little help.

Adding this will solve it:
[code]
That way, when it derives the schema for `Query`, is already has the intermediate schema for `A` and it makes its job easier. I usually do this (see [here](https://gith

[2020-05-21 13:46] szymonrodziewicz commented on #405
Thank you, but I also missed one thing: The type B is recursive, and has reference to UIO[A], and that gives following error:
[code]

[2020-05-21 13:49] ghostdogpr commented on #405
In that case you should make the intermediate schema a `lazy val`.

Example:
[code]

[2020-05-21 13:53] ghostdogpr commented on #405
Some examples of this pattern within caliban:
- https://github.com/ghostdogpr/caliban/blob/master/examples/src/main/scala/caliban/optimizations/OptimizedTest.scala#L119
- https://github.com/ghostdogpr/caliban/blob/master/core/src/main/scala/caliban/introspection/Introspector.scala#L11

I noticed if 2 classes reference each other, it works better if only one of them is made lazy. Magnolia can be a

[2020-05-21 13:55] ghostdogpr commented on #404
I'll get this one fixed during the weekend, but if anyone wants to jump on it earlier, let me know. It should be an easy one.

[2020-05-21 14:03] szymonrodziewicz commented on #405
Actually it gets even worse... I have 4 types, each of them is member of another, and they hold reference to their parent. It forms kind of a chain. Do you know any method to resolve issue like this? I tried a lot of combination with this lazy schema vals, but it doesn't seem to help.

[2020-05-21 14:09] ghostdogpr commented on #405
Hmm, it's hard to help you without the code. Any way you could extract it in something reproducible?

Something like this work for example:
[code]

[2020-05-21 14:39] joprice commented on #404
It seems like there's still going to be issues even if you fix it to handle differing types. I haven't used interfaces yet, but am going to be experimenting with Relay, where e.g., according to the spec, the interface for Node must contain only one field called "id". If every object happens to also have a field `name: String`, does that mean Node will acquire that as well? If so, maybe the fix dem

[2020-05-21 14:57] ghostdogpr commented on #404
I’d prefer staying away from more macros. Maybe the annotation could take some optional parameters allowing you to specify the field names to take.

[2020-05-22 08:41] hepin1989 commented on #336
So this will be implemented in ZQuery?

[2020-05-22 09:03] ghostdogpr commented on #336
Yeah, I just created an issue for it so you can track it: https://github.com/zio/zio-query/issues/46

[2020-05-22 09:59] szymonrodziewicz commented on #405
By "chain" I meant a structure like this:
[code]
And that reproduces the error I have in my case.

[2020-05-22 10:28] ghostdogpr commented on #405
Actually your example works for me, it generates the following shema:
[code]

Do you have the latest version of Caliban? I did upgraded Magnolia in 0.7.6 and 0.7.7, maybe it improved things. Otherwise not sure what it is, I tried with 2.12.11 and 2.13.2, both worked 🤔

[2020-05-22 12:06] adamgfraser commented on #336
@hepin1989 Just submitted a PR to add this [here](https://github.com/zio/zio-query/pull/47).

[2020-05-22 16:20] szymonrodziewicz commented on #405
Thank you for your help, I will try to reproduce it exactly next week - I'm having problems with replicating the exact behaviour without putting there my company's code :) But I'm using Caliban 0.8.0 on Scala 2.12.

[2020-05-23 02:32] #404 closed

[2020-05-24 06:27] #67 closed

[2020-05-26 00:43] ghostdogpr opened #414 "Upgrade to ZIO RC20"
The following dependencies need to be upgraded and released first:
- [x] zio-query [PR](https://github.com/zio/zio-query/pull/48)
- [x] zio-interop-cats [PR](https://github.com/zio/interop-cats/pull/184)
- [x] zio-interop-reactive-streams [PR](https://github.com/zio/interop-reactive-streams/pull/119)
- [x] zio-config [PR](https://github.com/zio/zio-config/pull/341)
- [x] sttp [PR](https://github.c

[2020-05-26 11:07] szymonrodziewicz commented on #405
Ok, so after playing with it a bit more I fixed it and I think that the underlying issue was the fact that we were using outdated mercator. Not magnolia, but mercator, as dependency of another library :) Thank you for you help though, I will know what to do when I encounter some actual issues with generating Schema.

[2020-05-26 11:32] ghostdogpr commented on #405
Great news! Glad you got it working.

[2020-05-26 11:32] #405 closed

[2020-05-27 04:01] ghostdogpr opened #420 "Add support for application/graphql content type"
From https://graphql.org/learn/serving-over-http/:

To be done in each adapter:
- [x] http4s
- [x] akka http
- [x] finch
- [ ] play

[2020-05-27 04:02] ghostdogpr opened #421 "Support "query" query string parameter in POST endpoint"
From https://graphql.org/learn/serving-over-http/:

To be done in each adapter:
- [x] http4s
- [x] akka http
- [x] finch
- [ ] play

[2020-05-29 09:34] kiranbayram opened #425 "Schema derivation doesn't handle nested types"
Hello there, as already discussed in Discord, opening the issue here:
[code]

Second field's(`Data2.b`) type is ApiTranslated[Option[Int]] but it's mapped to Float in schema

[2020-05-29 13:07] ghostdogpr commented on #425
The problem comes from https://github.com/ghostdogpr/caliban/blob/master/core/src/main/scala/caliban/schema/Schema.scala#L456
Instead of just taking the type argument names `typeName.typeArguments.map(_.short)`, we could call the same function recursively to get the full name.

[2020-05-29 13:09] ghostdogpr opened #426 "Improve automatic derivation of value classes"
The following value class
[code]
gives the following schema
[code]

Magnolia exposes a boolean `isValueClass`, so it should be possible to change the default derivation of case classes and use the underlying `Schema` when `isValueClass` is true.

[2020-05-30 10:39] #425 closed

[2020-05-30 10:45] #426 closed

[2020-06-01 06:06] #228 closed

[2020-06-02 00:08] #414 closed

[2020-06-06 13:45] ghostdogpr commented on #372
I started working on this and now have a common format for a schema whether it’s coming from a graphql IDL file, a remote introspection or a caliban `GraphQL` object. What’s remaining is the actual diff.

What are your thoughts regarding the output? One option is to use something generic like diffx that compares 2 case classes with some pretty colorful rendering. Another way would be to have a cus

[2020-06-06 16:00] paulpdaniels commented on #372
I prefer the custom ADT, since I think it would be easier to build tooling off of that and there is a precedent with how the apollo-tools or sangria does it as well.

[2020-06-06 19:01] javimartinez commented on #372
I'll bet for a custom ADT too. We can interpret it in different ways, more flexibility, etc.

[2020-06-07 01:49] ghostdogpr commented on #372
Thanks for the feedback, will do that!

[2020-06-07 09:02] ghostdogpr commented on #372
Opened a PR, feedback welcome: https://github.com/ghostdogpr/caliban/pull/436#discussion_r436341163

[2020-06-09 00:02] ghostdogpr opened #438 "Add Schema and ArgBuilder for zio Chunk"
Implementation is similar to those for `Set`, `Seq` and `Vector`.

[2020-06-09 01:17] #438 closed

[2020-06-11 17:37] WojciechMazur opened #442 "Schema validation does not allow for ZQuery in interface"
In case when sealed trait annotated with `GQLInterface` defines field taking ZQuery it does not pass schema validations with exception
`Interpreter error: Field 'foo' in Object 'FooBar1' is an invalid subtype - An object field type must be equal to or a possible type of the interface field type`
It's a downgrade since version 0.8.0, on which there were no such problems.

Example
[code]

[2020-06-11 22:52] ghostdogpr commented on #442
Would you able to test with the latest master? I fixed a related issue a couple days ago, it may have fixed this too.

[2020-06-12 00:03] ghostdogpr commented on #442
FYI this is the PR that should have fixed it: #440
I am planning to do a new release this weekend, if you can confirm the fix works in your case it would be awesome.

[2020-06-12 09:42] WojciechMazur commented on #442
It works on build from master branch in my case.

[2020-06-12 13:06] ghostdogpr commented on #442
Thanks for the confirmation! I’ll release tomorrow.

[2020-06-12 13:06] #442 closed

[2020-06-12 17:28] anotherhale opened #446 "Allow query to not specify every subtype for the Union Type"
I would like to be able to write queries for a Union Type and not have to specify every subtype.

Currently when you query a Union Type you must provide all of the subtype implementations or you will get a compile error.  If I remove the `Pilot.shipName.map(Role.Pilot)` from the role query:
[code]
I get the following compile time error:
[code]

I discussed this with @ghostdogpr and we determined t

[2020-06-13 00:02] ghostdogpr commented on #446
The related code is https://github.com/ghostdogpr/caliban/blob/master/codegen/src/main/scala/caliban/codegen/ClientWriter.scala#L240. I think it would be nice if we kept the existing method (no need to get an Option when you're willing to provide all cases) and add a new one with that behavior, where each parameter would be optional. I'm guessing the new method should return a `ChoiceOf(OptionOf(.

[2020-06-13 04:10] #372 closed

[2020-06-17 00:00] ghostdogpr opened #450 "ZStream support outside of Subscriptions"
Currently the schema for `ZStream[A]` returns the type of `A`, which is what we want for Subscriptions. However if you use `ZStream` in a Query, the resolver produces a list even though the type doesn't say so.

[2020-06-17 07:09] ghostdogpr opened #451 "Support multipart request"
See spec: https://github.com/jaydenseric/graphql-multipart-request-spec

[2020-06-18 11:37] paulpdaniels opened #453 "Codegen: support custom scalar mapping"
We should add the ability to do type to scalar mappings when running the client code generation.
If one of the mappings is not present the generation would fail. This would be useful in scenarios where we want to create a CI tool that builds the client after every server release.

[code]

We could also allow passing in a filename for `scalarMappings` which would look for types with an annotations

[2020-06-19 14:33] AlixBa commented on #453
I would add two options. The first one to map scalars to types (and vice-versa), and the other one to fail or pass if a mapping is not found. We currently use a package object with the same package as the codegen where we define type aliases for graphql scalars. But I guess that sometimes you can not just rely on type alias so not failing at codegen phase would be appreciable. wdyt?

[2020-06-19 16:13] paulpdaniels commented on #453
Yes that seems reasonable for non-CI cases where you are using the codegen as a starting point. Though I'm wondering if would get used a lot, since in most cases it might be quicker to just generate it broken, then fix it yourself since you'd presumably have your IDE/compiler to help you at that point.

[2020-06-20 00:49] ghostdogpr commented on #453
Maybe a simpler solution could be to just pass an optional `import` to add to the generated file, so that you could define the type aliases as well as the required `ScalarDecoder` in that file?

[2020-06-20 08:33] paulpdaniels opened #456 "Upgrade to ZIO RC21"
The following dependencies need to be upgraded and released first:

- [x] [zio-query](https://github.com/zio/zio-query/pull/65) (critical issue found in ZIO)
- [x] [zio-interop-cats](https://github.com/zio/interop-cats/pull/195)
- [x] [zio-interop-reactive-streams](https://github.com/zio/interop-reactive-streams/pull/135)
- [X] [zio-config](https://github.com/zio/zio-config/pull/361)
- [X] [sttp](

[2020-06-21 02:50] #450 closed

[2020-06-22 21:45] amiralies opened #462 "UIO / URIO field failures are not available in interpreter mapError"
to make it simple aussme that we got a resolver which is returning something like this
[code]
It seems like the exception is not passed through interpreter mapError, It just creates error message in response (`java.lang.exception myerror`).

Note that if i omit orDie and use Task instead of UIO it will be passed through mapError. but makes my field type Optional which is not what I want.

[2020-06-23 00:37] ghostdogpr commented on #462
@amiralies You're totally right, thanks for raising this. I just opened a PR for fixing this, which also improves the error you get (providing error path and location): https://github.com/ghostdogpr/caliban/pull/463

[2020-06-23 01:14] anotherhale commented on #446
Actually if I could get some help with this that would be great.

The new reference to the aboce

First to make sure we are on the same page this is how I envision this working. For `union type` queries you should be able to specify only the results that you want.  The following examples are based on the Caliban example data:

(You can use this query with graphiQL to see the result)
[code]
This wo

[2020-06-23 11:18] ghostdogpr commented on #446
How about the following implementation:
[code]

This introduces `NullField` like this:
[code]

One more thing to do is in `ChoiceOf#toSelectionSet` to remove the members that have an empty selection when forming the GraphQL query.

[2020-06-24 00:04] #462 closed

[2020-06-24 17:05] AlixBa commented on #142
Hey @UkonnRa , how did you do it in the end?

[2020-06-27 05:05] ghostdogpr commented on #456
Closed by #472

[2020-06-27 05:05] #456 closed

[2020-06-28 20:34] MasseGuillaume opened #476 "calibanGenSchema does not escape double quote in GQLDescription"
I'm generating the schema for the Shopify API and they have double quotes in their descriptions.

Caliban generates the following code:

obtained

[code]

expected:

[code]

A similar issue happens in `calibanGenClient` with `@deprecated`.

[2020-06-29 00:05] ghostdogpr commented on #476
Good finding!

We have some logic to use triple quotes when there is a \n, maybe we can extend it to cover this case too: https://github.com/ghostdogpr/caliban/blob/046b3a075b581b62023a8f0b92d8dd6ae99cb525/tools/src/main/scala/caliban/tools/SchemaWriter.scala#L171

In ClientWriter it's not handled at all.

[2020-06-29 12:34] user753 opened #477 "Task query result is optional"
[code]
[code]
I thinks `foo` should be `Int!` and for `Int` `Task[Option[Int]]` should be used.
Is there another way to remove optional when Task result is used?

[2020-06-29 12:52] MasseGuillaume commented on #476
With quasiquotes, you can get these pretty-printing rules and have the safely construct valid scala code.

[code]

https://scastie.scala-lang.org/26nmiyc3RIih5C5OUaTq4w

[2020-06-29 13:07] ghostdogpr commented on #477
To express the 2 possible desired behaviors on errors, we rely on the 2 error channels of ZIO:
- failures in the E error channel are mapped to null and won’t prevent the rest of the query from being executed
- failures in the Die error channel will fail the whole query

If you want the latter, you can change your type to `UIO` and call `.orDie` on your effect.

[2020-06-29 13:37] #477 closed

[2020-07-01 18:05] anotherhale commented on #446
@ghostdogpr Yes that works. I filtered the `builderMap` in the `toSelectionSet` with the following code (I added the `isNullField` helper function:

[code]

If this looks good to you I will try to update the code generator to generate the proper client code.

For the ClientExampleApp I also updated the query to demonstrate named parameters for `Role` works well.
[code]

[2020-07-02 00:01] ghostdogpr commented on #446
@anotherhale that looks good! About the code generation, should it be an additional function or replace the existing one? I feel that the existing one will be nicer when you want to specify all cases because you don't need to wrap the selection in `Some(...)` so I tend to prefer having both. What do you think?

[2020-07-02 06:35] moonkev opened #482 "Connection leak in AkkaHttpAdapter websocket connection when client forcibly closes"
Hello

I believe I may have identified a connection leak in AkkaHttpAdapter when using subscriptions with the websocket endpoint.  This issue only happens when the client abruptly closes without initiating the proper subscriptions-transport-ws termination sequence.

The issue I see is that the sink side (input from the client) will die, but the source side streaming to the client stays alive perpe

[2020-07-02 07:33] ghostdogpr commented on #482
Wow, thanks for the detailed analysis. Your solution sounds like the right way to go, a PR would be welcome!

[2020-07-02 09:30] ghostdogpr commented on #482
Closed by #483

[2020-07-02 09:30] #482 closed

[2020-07-02 17:13] MasseGuillaume opened #484 "Codegen clash with java.lang.Object"
I'm trying to codegen the Shopify schema and they have a property called `notify`. Generated schema:

[code]

When you try to compile it gives the following error:

[code]

NB: you cannot backtickquote in the codegen, it would give the same error.
NB: you would get the same issue with other method names see https://docs.oracle.com/javase/7/docs/api/java/lang/Object.html

[2020-07-02 17:59] anotherhale commented on #446
I agree it would be good to have a different function.  I do feel like `ChoiceOf` would be a better name for this function and the function that requires all of the union types would be `AllOf`. If you provide all of the union types to this new function it would still work the same as the original `ChoiceOf`.

[2020-07-03 00:03] ghostdogpr commented on #446
@anotherhale I think both functions can use `ChoiceOf` no?

[2020-07-03 00:10] ghostdogpr commented on #484
TIL you can't name a case class field "wait" or "notify" 😳
I suggest we add `_` at the end for those e.g. `wait_`, `notify_`.

[2020-07-03 00:34] MasseGuillaume commented on #484
yup :+1: for the suffix, this way you keep the autocompletion.

[2020-07-03 01:22] #476 closed

[2020-07-03 23:24] ghostdogpr commented on #421
If anyone wants to work on this, you can totally do one adapter only, no need to do all at once😄

[2020-07-03 23:24] ghostdogpr commented on #420
If anyone wants to work on this, you can totally do one adapter only, no need to do all at once😄

[2020-07-04 03:06] anotherhale commented on #446
Yes. I see what you mean now.  The code would just generate both a `role` function and a `roleOption` function?
[code]
And then the query would could use either one like so:
For the `role`:
[code]
Or the `roleOption`:
[code]

[2020-07-04 03:08] ghostdogpr commented on #446
Yep, that's what I was suggesting 👍

[2020-07-05 04:06] paulpdaniels commented on #7
For field selection merging, there is a paper that details a faster implementation: https://tech.xing.com/graphql-overlapping-fields-can-be-merged-fast-ea6e92e0a01

And a reference implementation that was added to sangria: https://github.com/sangria-graphql-org/sangria/pull/12

[2020-07-06 15:05] anotherhale commented on #446
This is the change that I made to the `ClientWriter` to generate the `roleOption` type.
[code]

 I did not see how to generate both without creating another `TypeDefinition` or passing a flag to generate this Optional Type.  Do you have any ideas?

[2020-07-07 00:07] ghostdogpr commented on #446
Yeah I see the problem. Maybe add an intermediate function before `writeField` is called, and there you call `writeField` twice with different parameters?

[2020-07-08 12:23] szymonrodziewicz opened #492 "Problem with deriving schema for type tree with two traits as union and interface"
Hi, I have encountered an error with the Schema generation and succeeded in reproducing it. The Schema is defined as follows:

[code]

It results in the following Schema:

[code]

The important part here is that `A1` doesn't implement `A` interface in the generated schema - despite specifying that A1 implements A in Scala code. While reproducing this error I've experimented a bit and I may've got

[2020-07-08 14:16] ghostdogpr commented on #492
Wow, that was a tough one. Thanks for the easy reproducer, that helped me a lot figuring it out.

What happens is that Magnolia doesn't provide information about which trait a class is extending. So I'm getting the `implements` info from the sealed trait itself, because there I know what are the subtypes. That means I define those OBJECT types in 2 different ways depending on the Schema. When I co

[2020-07-09 10:07] szymonrodziewicz commented on #492
I'm using scala 2.13 and I've tried to call sbt +publishLocal. However, I ended up having some errors thrown end everything ended with:
[code]
I rarely use sbt and I may've got something wrong. Do you know what could be causing it? You could also just upload the built jar for me if it would be a faster way for you.

[2020-07-09 10:19] ghostdogpr commented on #492
Can you try `++publishLocal`?

[2020-07-09 10:22] szymonrodziewicz commented on #492
It's the same, even after `sbt clean`.

[2020-07-09 11:10] ghostdogpr commented on #492
Hmm not sure what is happening 🤔

Here's the jar I published locally: [caliban_2.13.jar.zip](https://github.com/ghostdogpr/caliban/files/4896318/caliban_2.13.jar.zip)

[2020-07-09 11:34] szymonrodziewicz commented on #492
For some reason I had to add zio-streams and fastparse dependencies manually. But after that - everything works and your fixes resolved the problem. I can remove the dummy mutation and everything is working as I intended it to. Thank you :)

[2020-07-09 12:19] ghostdogpr commented on #492
Cool, thanks for the confirmation! I will merge the PR and probably release this weekend.

[2020-07-09 12:19] #492 closed

[2020-07-10 10:38] Krever opened #495 "Improve handling of option-heavy input parameters in general and hasura in particular"
In my experiment of migrating existing codebase (relying on Hasura graphql engine) I found out that the current Caliban approach to code generation is a bit cumbersome to work with in this particular case.
For the following graphql query that we had before
[code]
we had a `sbt-graphql`-based client that allowed us to execute it like this:
[code]

With caliban, the same call in trivial impl has a f

[2020-07-11 02:37] #484 closed

[2020-07-13 22:19] cilicio opened #502 "Caliban Client: Add extensions to GraphQLResponseError"
I am currently working on a project with both, caliban server and client.  I am trying to consume data from the server where I have extra information in the extensions when errors are thrown. In server we have the option to add [extensions](https://ghostdogpr.github.io/caliban/docs/middleware.html#customizing-error-responses), but on the client we cannot obtain this.
So, to support this, I changed

[2020-07-13 22:58] ghostdogpr commented on #502
Sounds good to me 👍

[2020-07-15 00:05] #502 closed

[2020-07-15 06:58] ghostdogpr opened #504 "Add a wrapper for printing errors to the console"
Similar to this: https://github.com/ghostdogpr/caliban/blob/master/core/src/main/scala/caliban/wrappers/Wrappers.scala#L21

`@@ printErrors`

Also, add it to the [example project](https://github.com/ghostdogpr/caliban/blob/master/examples/src/main/scala/caliban/ExampleApi.scala) since it's pretty useful.

[2020-07-15 14:36] anotherhale commented on #446
Sorry been busy with work and life.  I will give this a try this week.

[2020-07-16 09:25] niqdev opened #507 "Nested Arguments"
Hi,

I'm trying to re-implement a very simplified version of the GitHub [api](https://developer.github.com/v4/explorer) to play with the pagination following the [spec](https://relay.dev/graphql/connections.htm), but I'm not entirely sure how to represent the nested arguments. Could you please give me some hints?

Thanks in advance for the help!

---

Query example
[code]

This is a gist of my cur

[2020-07-16 09:46] ghostdogpr commented on #507
You can use arguments at any level of the schema: you just have the field return a function from the Arg case class to the result type. The same thing you did works whatever the level 😄

[2020-07-16 10:06] niqdev commented on #507
Whoo, thanks for the super fast replay!

🤔 Not sure i've understood correctly, should i change the query or the schema?

[code]

Could you give me a super simple example if i'm on the wrong track? Thanks 😊

---

This should give a full picture of what I got so far
[code]

[2020-07-16 10:37] ghostdogpr commented on #507
The second one ☝️

There is an example that shows nested effects here: https://github.com/ghostdogpr/caliban/tree/master/examples/src/main/scala/caliban/optimizations

Also this article might be of interest: https://medium.com/@ghostdogpr/graphql-in-scala-with-caliban-part-2-c7762110c0f9

[2020-07-16 11:25] niqdev commented on #507
Awesome, thanks a lot for the help and for the great lib!

One last question, is there any plan in future to add *pagination* and *filter* support directly in caliban, as an extra module? Or it's too specific cos might vary case by case, hence it's out of scope?

[2020-07-16 12:48] ghostdogpr commented on #507
No immediate plan because each case is specific.

There was some interest from a few contributors to add some helpers for the [Relay](https://relay.dev/) format so this might happen at some point.

[2020-07-16 13:07] niqdev commented on #507
Cool, I'm working on a standalone [pr](https://github.com/niqdev/scala-fp/pull/85) in my spare time (i haven't pushed the latest changes and I'm heavily iterating over it) with the goal to abstract it to create a lib, e.g. `caliban-extras` and I'd like to do the same for the filter using [droste](https://github.com/higherkindness/droste) most likely.

I'm far from having anything close to be prese

[2020-07-16 13:07] #507 closed

[2020-07-16 13:13] ghostdogpr commented on #507
Sure, feel free to drop by the Discord later if you want to discuss this with me and other contributors/users.

[2020-07-18 00:36] #504 closed

[2020-07-27 21:34] kubukoz opened #524 "Generated client code doesn't compile"
Hi! First of all, nice project!

I tried generating a client for gitlab's API. Unfortunately, it doesn't compile.

Here's the command I ran in sbt:

`calibanGenClient https://gitlab.com/api/graphql src/main/scala/io/pg/gitlab/gitlab.scala --packageName io.pg.gitlab`

I have ` "com.github.ghostdogpr" %% "caliban-client" % "0.9.0"` in my dependencies and `CodegenPlugin` enabled.

Here's the code: ht

[2020-07-27 21:39] kubukoz commented on #524
Oof, false alarm. Apparently the preamble `cats` import breaks everything (there's most likely a naming clash in implicits or something). Sorry for the noise!

[2020-07-27 21:39] #524 closed

[2020-08-04 00:39] ghostdogpr opened #534 "Upgrade ZIO to 1.0.0"
The following dependencies need to be upgraded and released first:

- [x] [zio-query](https://github.com/zio/zio-query/releases/tag/v0.2.4)
- [x] [zio-interop-cats](https://github.com/zio/interop-cats/releases/tag/v2.1.4.0)
- [x] [zio-interop-reactive-streams](https://github.com/zio/interop-reactive-streams/releases/tag/v1.0.3.5)
- [x] [zio-config](https://github.com/zio/zio-config/releases/tag/v1

[2020-08-04 10:22] tusharmath commented on #534
Eagerly waiting :D

[2020-08-04 10:23] ghostdogpr commented on #534
Hehe, interop-cats is coming soon. For sttp and uzhttp it depends on other maintainers though.

[2020-08-04 17:35] anotherhale commented on #446
I have PR that I can push soon. I just need to get it approved for release by my company first.

[2020-08-04 23:07] ghostdogpr commented on #446
@anotherhale great! 😄

[2020-08-07 11:54] #534 closed

[2020-08-08 06:33] MasseGuillaume opened #543 "[CodeGen] name clashe with imported fields (EnumValue)"
Another day, another weird GraphQL schema!

I'm working with an e-commerce platform called commercetools. They have a graphql schema that looks like this:
https://github.com/commercetools/sunrise-spa/blob/master/graphql.schema.json (They are not even using this type ...).

They decided to define `EnumValue` and this clashes with the import: `import caliban.client.Value._`.

I think this is correct

[2020-08-08 06:39] ghostdogpr commented on #543
How about renaming those internal classes to `__???Value` directly?

[2020-08-08 08:02] MasseGuillaume commented on #543
Yeah, I think it's safer.

[2020-08-13 11:23] galales opened #552 "[CodeGen] Argument type names do not match with case class generated"
Code generation does not create a unique name for the argument case classes.

Examples below are taken from the first public graphql service I found online
https://lucasconstantino.github.io/graphiql-online/

[code]

In the `Comment` type the argument type has the right unique name, but the generated case class is instead `PostArgs`.
So we have 2 issues:
* names do not match
* `PostArgs` name is n

[2020-08-13 12:46] ghostdogpr commented on #552
The name clash is already documented in https://github.com/ghostdogpr/caliban/issues/367
But the names not matching is not, so maybe you could change the title and description of this issue to focus on that problem?

Looking at the code this one is easy to fix: in `SchemaWriter`, on one side (`writeField`) we call `${of.name.capitalize}${field.name.capitalize}Args` and on the other side (`writeArg

[2020-08-13 12:48] ghostdogpr commented on #367
@asachdeva any news about this one? Should someone else pick it? Thanks 😄

[2020-08-13 13:22] galales commented on #552
Ok, I'll make these changes and see if it solve the issue and, as per Discord chat, maybe the #367 too

[2020-08-13 16:11] asachdeva commented on #367
@ghostdogpr sorry for the delay on this...started a couple of new jobs and have been swamped with life.  I can work on this Monday of next week but if someone else is willing and able ...please assign away

[2020-08-13 22:39] ghostdogpr commented on #367
@asachdeva no problem! There's a PR for it now 😄

[2020-08-14 00:12] #367 closed

[2020-08-14 00:12] #552 closed

[2020-08-18 07:52] galales opened #560 "[CodeGen] Arguments name do not match for root level operation"
This is related to issue #552 . The previous PR solved most of the mismatches, but in the current snapshot (`0.9.1+20-40e9f3a2-SNAPSHOT`) arguments in root level operations still do not match.

Example
[code]

I can work on this if you want

[2020-08-18 08:05] ghostdogpr commented on #560
Right, there were 2 more methods to modify: `writeRootField` and `writeSubscriptionField`. Both have the same kind of code as in the previous PR. It's awesome if you can do it 🙏

[2020-08-21 14:15] ali-at-github opened #566 "Support for multiple errors in response"
Hi,
It seems that currently we can only return/map one error in response. I have a scenario where I would like to return multiple errors from a `mutation` to let customers know which fields were invalid. e.g. If I am capturing firstName and lastName on my html form and want to highlight if supplied data for both of these fields is invalid, I would want to accumulate the list of error codes and sho

[2020-08-22 10:24] #566 closed, assigned to nobody

[2020-08-27 15:20] szymon-rd opened #570 "Can I specify the order of values in the enum?"
As the titles says. Can I somehow change the default, alphabetical ordering of values in the generated schema enum to my own, custom order?

[2020-08-27 23:18] ghostdogpr commented on #570
There is currently no easy way for that, except defining a `Schema` for your enum (there's a `makeEnum` helper that helps a little bit but it's not optimal). Let's keep this issue open, I think it could be nice to have.

[2020-08-31 08:25] iida-hayato opened #573 "Schemas for higher-kinded types do not use the inner type annotations"
I try this schema definition code

[code]
and generate gql then get `PageUserEntity`, I expected this for `PageUser`

[2020-08-31 08:25] iida-hayato commented on #573
sample test code

[code]

[2020-08-31 08:31] iida-hayato commented on #573
My understanding is,  `getName` function is called inside Magnolia's combine function.
and, Magnolia not suppose high-kinded types
https://github.com/propensive/magnolia/issues/29

so, In current version, Is such a class design less recommended?

[2020-08-31 08:44] ghostdogpr commented on #573
I'm afraid this is a limitation of Magnolia. You can see the logic here: https://github.com/ghostdogpr/caliban/blob/master/core/src/main/scala/caliban/schema/Schema.scala#L515

Magnolia exposes `typeArguments` which is a `Seq[TypeName]` and doesn't contain any information about annotations on that type.

It would be nice to have a workaround though. I need to think about it 🤔

[2020-08-31 16:38] benwaffle opened #574 "Client: autogenerate view classes from query"
It would be useful to write the graphql query as a string and generate the

[code]

[2020-09-03 15:03] andrewpaprotsky opened #577 "Improve performance of queries with effectful fields"
There appears to be a significant performance penalty if a query requests effectful fields:

[code]

[code]

[code]

[code]

[code]

[code]

If I disable parallelism for queries (`allowParallelism = false`), the performance of effectful fields improves, making them only 2 times slower than non-effectful ones. I think it's somehow related to `ZQuery.collectAllPar ==> ZQuery.zipWithPar ==> ZIO.zipWi

[2020-09-03 15:05] adamgfraser commented on #577
@andrewpaprotsky Thanks for reporting! Will try to dig into this from the `ZQuery` side. Can you share the code you used for your benchmarks?

[2020-09-03 15:07] andrewpaprotsky commented on #577
@adamgfraser Thanks for the prompt reply! The benchmarks are here https://github.com/andrewpaprotsky/caliban/commit/ecc3c3346862e5bf3ee027f8a89fcac398b944af.

[2020-09-03 18:00] galales commented on #560
hi @ghostdogpr , sorry for the delay, I was on vacation, I started working on this issue today.
I just have one concern, right now this
[code]

is generated as

[code]

this means that if we have also a Query named `post`, a new class with the same `PostArgs` will be generated.
I know that this should be unlikely, because it's not the best approach to use the same name for a mutation and a query,

[2020-09-03 23:07] ghostdogpr commented on #560
I think this is a good idea 👍

[2020-09-04 00:19] ghostdogpr commented on #577
I am not surprised that pure fields are much faster because I do some very efficient optimizations in this case: https://github.com/ghostdogpr/caliban/blob/93828521043bf0381b8d606fe46b12940c1d9da1/core/src/main/scala/caliban/execution/Executor.scala#L234 (basically making the cost of executing the whole query down to zero).

The difference of parallelism is concerning though, because we would expe

[2020-09-05 01:11] #560 closed

[2020-09-05 22:13] adamgfraser commented on #577
@ghostdogpr Aren't we not just doing a single query though?

If I add a debug statement in `loop` in `Executor` it looks like if the fields are effectual then we are actually doing one query for each value in the underlying data in `case ReduceStep.ListStep` even if we are only querying a single field. So in the benchmark when the fields are effectual we are either doing `ZQuery.collectAll` with a

[2020-09-05 23:24] ghostdogpr commented on #577
@adamgfraser you're right, I didn't realize it was a list and not a single element.

[2020-09-06 07:39] ghostdogpr commented on #577
@adamgfraser wow, I tried your improvements on zio-query with the regular benchmarks and it brings a nice x2 improvement on the "simple" scenario, making Caliban more than 4x better than Sangria in all scenarios:

Before:
[code]

After:
[code]

Could you cut a release with it?

[2020-09-06 12:10] adamgfraser commented on #577
@ghostdogpr Will do!

[2020-09-07 12:13] andrewpaprotsky opened #580 "Magnolia: could not find Schema.Typeclass for type zio.query.ZQuery"
The following code no longer compiles:
[code]
[code]

It looks like this started to happen after #561. I wonder if `MySchema` should be defined in a different way to make things work.

[2020-09-07 14:05] #580 closed

[2020-09-07 14:13] ghostdogpr commented on #580
Merged, it's available in `0.9.1+41-25032696-SNAPSHOT`.

[2020-09-07 14:23] andrewpaprotsky commented on #580
Thanks! That was fast :)

[2020-09-09 09:47] dantodor opened #586 "Question about ZQuery"
Hello!

Total ZIO/Caliban n00b here, so please excuse any mistakes I will make.

I'm taking my first steps in Caliban/ZIO world, until now I have been working in the Akka world.
I like a lot where these libraries are taking me, but I have some troubles understanding...
I'm trying to use the akka-slick template, with a slightly more complicated structure, that is prone to N+1, so I'm looking into i

[2020-09-09 10:50] ghostdogpr commented on #586
That is correct, you need to use `ZQuery[Repository, RepositoryError, A]`, then when you implement your `DataSource`, you need to provide a ZIO anyway, so you can use `accessM` there. You can see an example with `Console` here: https://github.com/ghostdogpr/caliban/blob/master/examples/src/main/scala/caliban/optimizations/OptimizedTest.scala

[2020-09-09 11:42] dantodor commented on #586
Thanks for the quick answer!
If I understand correctly, I can use it exactly like in the example, as ZIO.accessM(_.get.(functionFromTheRepo) ) ?

[2020-09-09 11:58] ghostdogpr commented on #586
Yeah, you can see in the example I posted above, the DataSource is calling `putStrLn` which is itself using `accessM`. The difference is that the call is in the DataSource instead of directly in the resolver.

[2020-09-10 00:31] ghostdogpr commented on #586
@dantodor is it okay to close this? Let me know if you still have more questions :D

[2020-09-10 02:10] dantodor commented on #586
So... Here is where I am :
[code]

The `getReviewers` goes well. But in the case of `getUser`, compiler complains:
[code]

What did I got wrong from your answer ?

[2020-09-10 02:18] ghostdogpr commented on #586
I think you need to specify the type parameter when you call `accessM` (like `ZIO.accessM[DocumentRepository]`).
Also your DataSource uses `DocumentRepository` but `MyQuery` uses `ExpenseRepository`, is that okay? (it's okay if one includes the other but not if they're different).

[2020-09-10 02:22] dantodor commented on #586
Damn 👍 .... Worked like a charm :) ... Thanks a lot for spending time with a n00b issue :D ... You're right, I reconciled the repositories.

[2020-09-10 09:30] ghostdogpr commented on #586
Cool! I'm closing then. Feel free to join the Discord for quick Q&A 😀

[2020-09-10 09:30] #586 closed

[2020-09-12 01:32] ghostdogpr commented on #577
I'm going to close this since I don't see any more action items. The differences can be explain as follows:
- optimizations during the execution phase reduce the cost of a tree of pure resolvers to a single effect which is extremely fast (close to zero cost)
- effectful resolvers on the other hand need to be executed separately, explaining the cost difference. Parallelism makes it worse because cr

[2020-09-15 14:22] andrewpaprotsky commented on #577
I've added some benchmarks https://github.com/andrewpaprotsky/caliban/commit/b5c8587837f2bf94e8994e47c3a187baa7824740 for complex queries and it looks like sangria is faster with those:

[code]

Again, if I disable parallelism, it gets about 10 times faster. Not sure what's going on there.

[2020-09-15 14:25] ghostdogpr commented on #577
Interesting, thanks. I will have a closer look. Reopening the issue.

[2020-09-16 01:08] ghostdogpr commented on #577
I did some profiling on this case, all I could see was time spent managing fibers. I think this is due to `ZQuery` creating a fiber for each individual query. The example has 1,000 requests and the `run` execution itself seems pretty fast in comparison with the time managing the 1,000 fibers.

@adamgfraser any idea about this?

<img width="1337" alt="Screen Shot 2020-09-16 at 10 08 04 AM" src="htt

[2020-09-16 01:31] adamgfraser commented on #577
I think the issue basically comes down to [this](https://github.com/zio/zio-query/blob/e3452ec3f907e1a6f683becd8445b6ec44d58853/zio-query/shared/src/main/scala/zio/query/ZQuery.scala#L371) line. Conceptually we have two potentially distinct types of parallelism:

1. We want to execute requests by data sources in parallel, in which case we just capture the requests as a parallel data type
2. We wan

[2020-10-06 16:26] mleclercq opened #603 "Exception classes should override getMessage instead of toString"
Exceptions sub classes overrides `toString` instead of `getMessage` for instance in https://github.com/ghostdogpr/caliban/blob/master/client/src/main/scala/caliban/client/CalibanClientError.scala#L13

As a result when these exceptions are logged through SLF4J, the stack trace does not contain the actual error message. For instance I get:

[code]

I'll try to contribute a PR.

[2020-10-06 22:22] ghostdogpr commented on #603
Good point. I think we might still need the `toString` override since it's called in a few places. Maybe both?

[2020-10-13 02:37] paulpdaniels commented on #451
We have one PR to support this in play #500

We also need adapters for
- [ ] Http4s
- [ ] Akka

[2020-10-18 21:42] BorderCloud opened #614 "Example with ExecutionError"
Can you add a fake query in the class "ExampleService.scala" where you show how to build an error message with the class "ExecutionError" ?

I tried with "throw", "IO.fail", "IO.FromEither", etc but I cannot replace  the message by default "Effect failure".

Thanks

[2020-10-19 05:51] ghostdogpr commented on #614
@BorderCloud I just tried calling `Task.fail(CalibanError.ExecutionError("Blah"))` in `ExampleService.scala` and I get "Blah" in the returned error message. It requires changing `UIO` to `Task` and `URIO` to `RIO`.

If it still doesn't work, could you share what code you tried?

[2020-10-19 13:48] BorderCloud commented on #614
Thank you for your quick response.

It works.

I suffer with ZIO ;-)

[2020-10-19 13:48] #614 closed

[2020-10-19 17:43] user501254 commented on #446
@anotherhale
Hi, are you still waiting on the approval?

[2020-10-26 09:03] guymers opened #617 "Fragments on Interfaces"
I am attempting to do something similar to the union types example here https://graphql.org/learn/schema/#union-types

[code]

The above results in the schema I expect, but it is missing `interface Character`:

[code]

Adding a `dummy: Option[Character]` to the query to force `interface Character` to be defined allows the query in the example to be run:
[code]

But it does not return any fields de

[2020-10-26 14:16] ghostdogpr commented on #617
Looks like a bug. Thanks for the reproducer, I will have a look some time this week.

[2020-10-28 01:13] ghostdogpr commented on #617
@guymers there was actually 2 different bugs. I fixed it in https://github.com/ghostdogpr/caliban/pull/619. Any chance you can try my branch and confirm it works for you? I added a test case for your example but maybe you have a more complex case.

[2020-10-28 15:51] Gryfit opened #620 "Nested effect with environments don't generate schema"
Maybe I'm doing something wrong but it doesn't generate a schema when `RIO[R,T]` is nested in Query definition.
Let's look at an example:
[code]
this gives me the error: ` magnolia: child object Yield of trait ZIO is neither final nor a case class`
If I change to: `case class A(a: RIO[Any, String])`
It compiles again.
How can I make it work?

[2020-10-28 18:37] guymers commented on #617
Can confirm that #619 fixes my case, cheers

[2020-10-28 23:59] #617 closed

[2020-10-29 00:05] ghostdogpr commented on #620
`Schema` is actually just `object Schema extends GenericSchema[Any]`, so when you use it like this, you're forcing the env to be `Any`. Instead, you need to use the `gen` coming from `GenericSchema[t.Env]`.

So just change your code to the following will work:
[code]

[2020-10-29 00:07] ghostdogpr commented on #617
Thanks! I merged the PR, you can use snapshot `0.9.2+32-2be9b0a7-SNAPSHOT` until the next release.

[2020-10-29 08:02] Gryfit commented on #620
Thank you. :D
I missed that.

[2020-10-29 08:02] #620 closed

[2020-10-29 13:16] viclovsky commented on #574
Do you have any plan to implement the feature?
Anyway, is there any workaround how to generate view classes?

[2020-10-29 13:57] ghostdogpr commented on #574
I think that would require some macros, I have no knowledge about that (and not really willing to learn now since Scala 3 will make it obsolete :D), but open to contributions.

[2020-11-02 16:19] ksonj opened #622 "Control generated name for existing types"
It is currently quite difficult to change the GraphQL type name of an existing scala type (that is e.g. imported from a third party library), because the only provided means is via the `GQLName` annotation, which obviously cannot be applied to already existing types.

I am envisioning something like this

[code]

which I currently achieve by doing

[code]

with which I can now call `rename` as abo

[2020-11-02 20:02] ksonj commented on #622
I just realized this might be duplicate of https://github.com/ghostdogpr/caliban/issues/130, right?

[2020-11-02 23:01] ghostdogpr commented on #622
It's not the same thing as #130. With #130 you do the renaming on the `GraphQL` object once all schemas are generated. It's useful for example to add a prefix to all types. But your suggestion is more precise and would cover the case of a conflict where you don't want to generate the API with 2 types having the same name.

So I think your proposal is a good thing. I'll dig into it when I have time

[2020-11-03 09:02] hedefalk opened #623 "Provide codegen as sbt sourceGenerator?"
Sorry to post as "issue" since this might just be a question, but could be a feature request.

I'm trying to understand how to make codegen play nice with sbt. If I understand I need a `Task[Seq[File]]` to stick it into `Compile / sourceGenerators` …?

Looking at the plugin, it delegates to

https://github.com/ghostdogpr/caliban/blob/4146e8167807901438da65a2b5b3b4dfe7f0e8b5/tools/src/main/scala/ca

[2020-11-03 09:37] ghostdogpr commented on #623
That's very possible, the sbt plugin was initially a PR from an external contributor and I have myself very little knowledge of how sbt works. For now I've used the plugin as a one-shot rather than something that runs at every build, but I'm definitely open to making it more ergonomic.

[2020-11-03 09:58] hedefalk commented on #623
It seems I'm almost there with an sbt task, just calling the underlying `SchemaWriter.write`. A little bit of copy 'n' paste and hardcoding for my needs right now, but I'll see if it works nicely and I could possibly make a PR if I have a little more time and someone else finds it useful… :)

Thx!

[2020-11-06 19:16] anotherhale commented on #446
Sorry finally making some progress. The wheels of bureaucracy turn slowly... I will post the PR once approved.

[2020-11-08 12:25] iRevive opened #627 "Mutation schema overrides types from Query schema"
If the mutation resolver has an operation with a subtype of an interface, the information about the subtype is overwritten.

Interface definition:
[code]

### Everything works as expected when the interface is a part of the mutation:

[code]

### Information about the interface is missing for the subtype:

[code]

### Expected behavior

Information about the interface is always present for the sub

[2020-11-09 01:22] #627 closed

[2020-11-14 03:37] ghostdogpr opened #631 "Support for Scala 3"
There are currently 2 blockers caused by usage of macros in dependencies:
- the parser is written using `fastparse` which heavily relies on macros and needs a rewrite. There are some efforts at porting Li Haoyi stack https://contributors.scala-lang.org/t/porting-ammonite-to-dotty/4469/11 but nothing on fastparse yet. An alternative would be using recently released [cats-parse](https://github.com/t

[2020-11-14 03:37] ghostdogpr commented on #631
About Dotty, I did some tests about it but I hit some dotty bugs (https://github.com/lampepfl/dotty/issues/8183) and the lack of documentation and examples threw me off for now. But I definitely want to revisit when it is more mature (or if someone is motivated to collaborate on this).

[2020-11-14 03:39] ghostdogpr opened #632 "Expose selection information in resolve"
Add a way to receive the selection information and use it in resolvers (e.g. for optimizations).

[2020-11-15 03:15] kubukoz opened #633 "Client: Guarantee case-insensitive name uniqueness?"
Hi!

I tried to regenerate the sources for the GitLab API again (for https://github.com/kubukoz/caliban-gitlab/), but noticed I'm getting compilation warnings:

[code]

and some more.

Context:

[code]

The API in question: https://gitlab.com/api/graphql

As you can see in [https://docs.gitlab.com/ee/api/graphql/reference/index.html#issuesort](the documentation for this type), the lowercase values

[2020-11-15 03:40] ghostdogpr commented on #633
Interesting, I haven't considered that before. This is valid as per the [spec](https://spec.graphql.org/June2018/#:~:text=GraphQL%20Documents%20are%20full%20of,all%20refer%20to%20different%20names.) so the codegen should take care of that and add a suffix to avoid any clash.

It's a little tricky because the type name can be referenced somewhere else (e.g. an interface) but it surely can be done.

[2020-11-20 22:30] tdrozdowski commented on #603
I'd be interested in taking a shot at this for the Hackathon

[2020-11-20 22:39] ghostdogpr commented on #603
@tdrozdowski cool! Let me know if you have any question.

[2020-11-20 23:50] dgeyer-mdsol commented on #420
Hi 👋  I would like to pick up this ticket for the hackathon, I see play is the only one pending, am I right?

[2020-11-20 23:52] ghostdogpr commented on #420
@dgeyer-mdsol This is right, we only need to add it in the Play Adapter. You can have a look at the other PRs linked here to see how it was added to the other adapters. Let me know if you have any question 😄

[2020-11-21 00:48] ghostdogpr commented on #622
@ksonj I opened a PR for it. Would you be able to confirm it works for your case?

[2020-11-21 02:32] ghostdogpr commented on #632
As discussed on Discord, a better approach would be to have a Schema for `Field => A` or `FieldInfo => A`.
Something similar to `functionSchema` except it's `Field => B` of `FieldInfo => B` (whichever is more convenient to implement) instead of `A => B`, and it would return either a `FunctionStep` with some special data, or another dedicated `Step`. Then in the executor, when we meet that case, we

[2020-11-21 09:12] javimartinez commented on #633
I would like to work on this one

[2020-11-21 10:58] xirc commented on #543
I'd like to work on this issue for the ZIO Hackathon :-)

[2020-11-21 11:00] ghostdogpr commented on #543
@xirc thanks! Let me know if you have any questions.

[2020-11-21 13:21] jessenr commented on #421
I'll take the play adaptor.

[2020-11-21 15:19] ghostdogpr commented on #631
I added 2 action items. The first one can be done in Scala 2 while the second one requires exploring new territories.

[2020-11-21 16:31] lvitaly commented on #631
@ghostdogpr, I would like to start with the first one. I will migrate the Parser from fastparse to cats-parse.

[2020-11-21 23:10] #421 closed

[2020-11-21 23:11] #603 closed

[2020-11-21 23:13] ghostdogpr commented on #631
@lvitaly awesome! Let me know if you have any question!

[2020-11-22 00:50] jweaver-personal commented on #632
I'm taking this issue for the hackathon.

[2020-11-22 01:18] ghostdogpr opened #645 "Add an option to codegen for including deprecated fields"
Currently they are included, but we might want to omit them.

[2020-11-22 01:19] ghostdogpr commented on #633
@kubukoz in addition to fixing this, I added an issue for the option to exclude deprecated fields https://github.com/ghostdogpr/caliban/issues/645

[2020-11-22 01:50] tdrozdowski commented on #645
I'll work on this one!

[2020-11-22 03:13] #632 closed

[2020-11-22 05:08] ghostdogpr commented on #543
Closed by #642

[2020-11-22 05:08] #543 closed

[2020-11-22 13:34] #420 closed

[2020-11-22 14:10] #633 closed

[2020-11-23 20:47] ghostbuster91 opened #655 "Add support for enumeratum"
Hi,

I would like to use enumeratum with caliban and be able to adjust my enums names using enumeratum specific technics.

So instead of that:
[code]

I could do:
[code]

[2020-11-23 20:49] ghostbuster91 opened #656 "ArgBuilder should return ParsingError when sth goes wrong"
When flat mapping on argBuilders one have to return `ExecutionError` when something goes wrong. Wouldn't be more suitable to return `ParsingError` instead?

[2020-11-24 00:12] ghostdogpr commented on #656
Currently it returns `ExecutionError` because it is evaluated during the execution phase.

There are 3 phases:
- parsing turns the query string into an AST
- validation verifies a number of rules
- execution resolves the query

In theory, I think this belongs to the validation phase, because there is a rule [Values of Correct Type](http://spec.graphql.org/June2018/#sec-Values-of-Correct-Type) that

[2020-11-24 00:19] ghostdogpr commented on #655
This seems to work: https://scastie.scala-lang.org/2ILMYPFnRFabZBOqifEnxA

[code]

Do you have a reproducer for something that doesn't work?

[2020-11-24 00:43] ghostdogpr commented on #631
Super helpful article on typeclass derivation with Scala 3: https://blog.philipp-martini.de/blog/magic-mirror-scala3/

[2020-11-24 03:12] paulpdaniels commented on #655
@ghostdogpr The output enum should be lowercase. Actually we have had this issue in our projects too. Basically `enumeratum` has a stable identifier called `entryName` which computes the final enum name. Honestly I'm not sure if enumeratum support should be added, but perhaps we need a type class helper that can change the enum names.

[2020-11-24 08:54] ghostbuster91 commented on #655
Any reason why it shouldn't ? It seems like a normal integration between two libraries.

[2020-11-24 08:56] ghostbuster91 commented on #656
Seems reasonable.

Awesome, anything other than ExecutionError will do the work for me. I just want to have clear separation between data level errors and execution errors.

[2020-11-24 08:59] ghostdogpr commented on #656
I'll close this and add a note in #656 to make sure this is not missed.

[2020-11-24 08:59] #656 closed

[2020-11-24 09:04] ghostdogpr commented on #655
Oh I see, the issue is that it ignores `with Lowercase`.

A workaround if you own the type is to add the `GQLName` annotation:
[code]

[2020-11-24 14:38] javimartinez commented on #631
I was experimenting with type class derivation in Scala 3 last week, and I think there is no support for annotations. We need that for deriving the schema, don't we?

[2020-11-24 14:58] ghostdogpr commented on #631
Yeah I guess that part requires a macro. It would be nice if https://github.com/propensive/adversaria supported Scala 3.

By the way by [this small change](https://twitter.com/ghostdogpr/status/1331041438742638592?s=21) to the link I posted, we can achieve auto derivation without the `derives` keyword, the way it works currently. Very promising!

[2020-11-25 00:27] #622 closed

[2020-11-25 03:53] paulpdaniels commented on #655
Yeah certainly a work around here, I think this would just be a convenience capability.

Yeah we are trying to keep the number of dependencies as low as possible, enumeratum is a great library, but the more libs we add the more maintenance to keep them all up to date. Not to say it _never_ could if the case is really compelling, but should meet with some additional scrutiny.

Playing the devils ad

[2020-11-25 03:56] ghostdogpr commented on #655
Maybe it could live in [caliban-extras](https://github.com/niqdev/caliban-extras), actually it is already in their TODO list 😄

[2020-11-28 07:47] ghostdogpr commented on #577
Actually this is not right. There is an initialization issue in `ComplexData.scala` that produces a `NullPointerException` when you disable parallelism. If you move `BazDataSource` above `val Bazs`, the error disappears and the results are actually slower without parallelism, which makes sense.

[2020-11-28 08:05] ghostdogpr commented on #577
So I'm gonna close this one since there is nothing weird going in with parallelization. The fact that Caliban is slightly slower than Sangria in that particular scenario is acceptable to me, since the time we are measuring here will be quite meaningless in presence of an actual query to some backend.

[2020-11-28 08:05] #577 closed

[2020-11-28 14:56] andrewpaprotsky commented on #577
Hmmm, I don't see the exception. Maybe something is misconfigured on my side. If I disable parallelism like [this](https://github.com/andrewpaprotsky/caliban/commit/603f0f4fad5b5b2f97276b6f304ce5a3eee8bdc2), Caliban's performance with the complex data improves dramatically:

[code]

[code]

[2020-11-28 15:00] ghostdogpr commented on #577
Try calling `queryCaliban(complexQuery, complexInterpreter)` in a regular program and print the response, you will see that there's an error.

When `val Bars` is declared, it calls `baz`, which itself calls `BazDataSource`, but `BazDataSource` hasn't been created yet and is null. That's why moving it up solves that error.

[2020-11-28 15:16] andrewpaprotsky commented on #577
Oh, my bad, I should have tested the data source before creating the benchmark 🤦‍♂️. Fixing the data source does clear things up. Thanks!

[2020-12-01 00:44] user501254 commented on #574
@viclovsky @benwaffle
I am working on something like this for a project (using macros).
Right now I am able to generate case classes only for simple queries but I hope to cover more complex selections in the near future. If you have any particular need/suggestion please feel free to share.

[2020-12-03 19:28] coryfklein opened #664 "Can't build a trait from enum supplied as query variable"
I've defined an enum `Sorting` as a sealed trait:

[code]

I can use pass this enum in GraphiQL just fine:

[code]

But when I pass this same value by Query Variables then Caliban is unable to parse it, yielding the error `Can't build a trait from input \"Name\"`:

[code]

And the query variables:

[code]

Since the query variables must be valid Json, I'm assuming the problem lies in Caliban parsi

[2020-12-03 19:42] coryfklein commented on #664
🤔 I'm on caliban 0.7.0 and it looks like the `dispatch` method related here has been updated since that version. Let me see if an update resolves this.

[2020-12-04 00:14] ghostdogpr commented on #664
@coryfklein I just tried it with the latest version and it works fine. It seems it was fixed since 0.7.2 indeed https://github.com/ghostdogpr/caliban/releases/tag/v0.7.2

[2020-12-04 00:14] #664 closed

[2020-12-04 11:59] YulawOne opened #667 "FieldWrapper doesn't respect wrapPureValues for mixed types"
given simple domain
[code]
and defined FieldWrapper with wrapPureValues set to `false` it's expected that wrapper function will be called for fields `domain` and `c`, while actual behavior is wrapper function is called for all fields  `domain`, `a`, `b` and `c`

[2020-12-04 12:26] #667 closed

[2020-12-04 14:47] YulawOne opened #669 "Fields annotated with @GQLDeprecated disappear from GraphQL#render"
Fields annotated with `@GQLDeprecated` disappear from GraphQL#render, while expected behavior is fields should remain and annotation `@deperecated` should be set on the field.

[2020-12-04 15:00] ghostdogpr commented on #669
The logic is in Rendering.scala. When we gather fields, the `__DeprecatedArgs` arguments should be changed to include deprecated fields.

[2020-12-04 15:28] coryfklein commented on #664
🙏 Thank you very much @ghostdogpr. I upgraded to the latest Caliban version yesterday and I'll try this one more time - I expect it to work just fine now.

[2020-12-05 22:11] amiralies opened #672 "Empty object dummy field returns __typename"
from examples, if you resolve `Mechanic` it has a dummy `_` Nullable Boolean field but it contains `Mechanic`'s  __typename which is `"Mechanic"` String.

Note that if you use a case class with no fields instead of case object, it returns `null` which is correct behaviour I think.

[code]
Case object:
![image](https://user-images.githubusercontent.com/13261088/101266490-768ad780-3764-11eb-8d28-7d3

[2020-12-05 23:28] ghostdogpr commented on #672
Actually this field is not meant to be queried:

Basically only `__typename` should be used there. I admit the difference between case object and empty case class is a little weird though.

[2020-12-05 23:32] ghostdogpr commented on #672
Closing since the docs and the field description both say to not use it, I don't think it's worth investigating 😄

[2020-12-06 00:18] amiralies commented on #672
yup, I'm aware of that.
In some cases it may break clients. when they try to deserialize/parse the response they are trying to parse a boolean instead they face a string i.e https://github.com/reasonml-community/graphql-ppx. and docs don't prevent consumers from querying this.
maybe we can return null in all cases?

[2020-12-06 00:19] ghostdogpr commented on #672
Alright, keeping it open 😄

[2020-12-06 00:42] ghostdogpr commented on #672
Turns out it was pretty simple: https://github.com/ghostdogpr/caliban/pull/673

[2020-12-06 00:47] #672 closed

[2020-12-06 15:59] dylandoamaral opened #674 "Add implicit class for ZServerEndpoint inside interop.tapir"
Hi there,

I propose to add an `implicit class GraphQLZServerEndpoint[R, I, E, O](e: ZServerEndpoint[R, I, E, O])` to support `ZServerEndpoint` from [tapir](https://tapir.softwaremill.com/en/latest/endpoint/zio.html).

I personally failed to use `GraphQLServerEndpoint` for my `ZServerEndpoints` because of their definitions:
`type ZServerEndpoint[R, I, E, O] = ServerEndpoint[I, E, O, Nothing, RIO[R

[2020-12-06 17:53] dylandoamaral commented on #674
I tried something but I need at least a mapping from `Throwable` to `E`:

[code]

[2020-12-07 00:45] ghostdogpr commented on #674
Tapir defines `ZServerEndpoint` as follows:
[code]
but Caliban expects the `E` to be the same as the effect error type which is fixed to `Throwable` by Tapir.

If `E` = `Throwable`, you can use the existing `GraphQLServerEndpoint`.

That's a little weird to me that tapir uses `E` on one side and `Throwable` on the other 🤔

[2020-12-07 00:48] ghostdogpr commented on #674
You could potentially transform the `E` into a `Throwable` in `GraphQLZServerEndpoint` (unless it's already a `Throwable`, then you just keep it), like it's done in lines 129-130 already.

[2020-12-07 08:36] dylandoamaral commented on #674
I think we can't exactly do the same thing because the `E` belongs to the tapir endpoint not the ZIO effect. To map it into a `Throwable`, I have to provide a mapping between `E` and `Throwable`.

Providing a function from `E` to `Throwable` is easy but the contrary is inapplicable.

[2020-12-07 08:47] ghostdogpr commented on #674
Right. Are your errors actually not `Throwable`? Caliban requires that on resolvers anyway.

[2020-12-07 09:00] dylandoamaral commented on #674
No, I used https://tapir.softwaremill.com/en/latest/endpoint/statuscodes.html to create my error system that allow the program to return errors as jsons for other status code than `success`. I then wanted to figure out if I can have both http and graphql routes but both error handling are totally different.

[2020-12-07 10:03] ghostdogpr commented on #674
You could make a bidirectional mapping to a custom Throwable holding the status inside, and when you convert from Throwable, if it's any other Throwable you map it to Internal Server Error.

[2020-12-07 10:37] dylandoamaral commented on #674
Yes I had something like that in mind! Thank you very much, you can close this issue if you don't plane to provide a common way to interface ZServerEndpoint with caliban.

Congrats for this wonderful lib 👏

[2020-12-07 11:29] ghostdogpr commented on #674
Thanks! I'll close for now as I don't see a better way but we can reopen if there is.

[2020-12-07 11:29] #674 closed

[2020-12-11 23:08] #669 closed

[2020-12-21 09:31] user501254 commented on #446
@anotherhale
I am afraid that the wheels of bureaucracy might have fallen off.
Would you mind if I take a shot at this?

[2020-12-22 19:22] anotherhale commented on #446
I will try to see if I can expedite it.

[2020-12-23 02:30] anotherhale commented on #446
I have it all completed with docs and examples too. Everyone is on vacation for the holidays - probably won't see anything until January.

[2020-12-23 12:34] v-tec2706 opened #698 "Partial result for nested ZQuery"
Let's say I have following case:
[code]
and I submit a request with following query:
[code]
and assuming that fetching `friends` for second user fails I'll get:
[code]
but let's say that I want `friends` field to be `non-nullable` and I change `User` definition to be:
[code]
then according to the specification which says:

[example](http://spec.graphql.org/draft/#example-08b62)
I expect result of

[2020-12-23 15:18] ghostdogpr commented on #698
Seems to be a bug indeed. The logic to handle `ZIO.Die` is only at the whole query level currently, there's no logic to bubble it up.

[2020-12-27 05:30] #698 closed

[2020-12-29 16:52] ostewart commented on #623
This is a bit of a messy first draft, but in case it helps, here's what's working for me:
[code]

[2021-01-18 09:34] guymers opened #715 "`Schema.rename` on a union and inline fragments"
Given the following schema:
[code]

A query:
[code]

Produces the expected result:
[code]

Renaming the `Union` using the `rename`  method on `Schema`:
[code]
gives the following:
[code]

Using the `@GQLName` annotation produces the expected result.

[2021-01-18 09:42] ghostdogpr commented on #715
I guess it comes from this line: https://github.com/ghostdogpr/caliban/blob/1308750033cd5df4d16fb49e3d35c30a7e1a5a9e/core/src/main/scala/caliban/schema/Schema.scala#L104
When the type is a union, we are using the subtype and should not overwrite the name. But we don't know it's a union so maybe the info needs to be added. Need to think about it 🤔

[2021-01-21 19:34] heyrutvik opened #721 "Can't validate fragment at the root level of query"
Following query doesn't validate (though it's valid) hence Caliban throws an exception: `Fragment spread 'ID' targets an invalid type: 'Query'.`
[code]
But same query structured differently works,
[code]

[2021-01-23 06:48] moonkev opened #725 "Akka http adapter does not handle chunked websocket messages"
Currently, the akka http websocket adapter only handles messages that are received in a single chunk.  While this is often the case, for subscriptions that have a large amount variables or large query itself - the underlying message may be chunked.  With an application that we are designing we are hitting this case rather frequently due to the size of the subscription start message (as it can have

[2021-01-23 15:24] #725 closed

[2021-01-24 07:09] ghostdogpr commented on #715
@guymers I opened a PR for this #728

If you wanna try my branch and confirm it works for you, that would be great. Otherwise I'll merge it in a few days.

[2021-01-24 07:22] ghostdogpr commented on #721
@heyrutvik Found the reason! https://github.com/ghostdogpr/caliban/pull/729

[2021-01-24 19:21] guymers commented on #715
#728 fixes the issue thanks!

I have found another rename issue in regards to objects though.

Adding `case object ChildO extends Union` and renaming it
[code]

results in the following schema:
[code]

querying returns:
[code]

If `Union.ChildO` is a `case class` with no fields then the returned `__typename` is `UnionChildO`

[2021-01-25 02:50] #721 closed

[2021-01-25 03:50] ngbinh opened #732 "upgrade to sttp 3.0.0"
sttp 3.0.0 has been released for a while now. https://github.com/softwaremill/sttp/releases/tag/v3.0.0

[2021-02-06 07:47] ghostdogpr commented on #715
@guymers I updated my PR to fix that case too, can you kindly confirm? Thanks!

[2021-02-06 10:22] guymers commented on #715
Can confirm that the updated changes fix that case as well, thank you!

[2021-02-06 10:25] #715 closed

[2021-02-06 11:46] paulpdaniels opened #749 "Add support for the @defer directive"
Currently this is still in [RFC](https://github.com/graphql/graphql-spec/blob/main/rfcs/DeferStream.md) but there has been some movement on this in the reference specifications in the recent months.

The basic premise is that a client can mark fields as `defer` and allow the server to send them as subsequent updates. The actual wire protocol is a bit murky because I think there is still a desire t

[2021-02-11 05:07] #732 closed

[2021-02-17 00:51] maxhillaert opened #762 "Document how to create custom type from existing case class schema"
Hi

The documentation shows how to create a custom type starting with an existing schema for String.

I have a case class that I want its schema to contain a computed def value.

It's not clear to me how I can do this. I don't want to create a Schema from scratch as the case class is not small.

I thought I'd be able to infer a Schema from my Foo case class , then add some fields to it.

For the l

[2021-02-17 01:27] ghostdogpr commented on #762
Actually there is no easy way to do that, because a schema can be many different things and no function would work in all cases. But if you know your type is an object type, you can do something similar to contramap (https://github.com/ghostdogpr/caliban/blob/master/core/src/main/scala/caliban/schema/Schema.scala#L83) and add manually your extra field in `__Type` and `Step` (that would be an `Obje

[2021-02-17 01:58] maxhillaert commented on #762
My eyes are bleeding, but this worked :)

[code]

[2021-02-17 02:04] ghostdogpr commented on #762
Yeah that's the idea more or less. You can pattern match on `x` to avoid the ugly `asInstanceOf` 😄
[code]

[2021-02-21 05:34] ghostdogpr commented on #344
`IntrospectionWrapper` was added in #753

[2021-02-21 05:34] #344 closed

[2021-02-21 05:34] #762 closed

[2021-02-23 21:18] ValdemarGr opened #773 "Cats fetch interop"
Caliban is a very nice library to work with but the zio-query data sources do not play all that well with cats.
A cats variant of zio-query exists (https://github.com/47degrees/fetch).
Is this a feasible request?

[2021-02-24 01:34] paulpdaniels commented on #773
It depends on how deep an interop you mean. There is already a `cats` interop that lets you define a schema in terms of `F[_]` so you could use `Fetch` there if you wanted. But the internals heavily rely on ZQuery so I don’t think we’d want to abstract the query type away.

[2021-02-24 15:51] ValdemarGr commented on #773
Okay, thank you.

[2021-02-24 15:51] #773 closed

[2021-02-24 18:37] anotherhale commented on #446
I just got approval on releasing this.  I will open a PR as soon as I merge in latest changes and resolve any conflicts.

[2021-02-24 18:42] anotherhale commented on #446
Sorry this took so long.  This request to contribute to open source was I pioneer effort in my organization and now they have put in place policies and procedures to make contributing back to the open source community much easier and quicker. :+1:

[2021-02-24 21:54] johanneshiry opened #775 "Client Writer reservedKeywords check incomplete"
Hi everyone,

first of all thanks for the library. I started working with it today and it has been very helpful so far.

As I use gradle and not sbt for project builds, I manually had to add the `caliban-tools` to generate my schema class. After the generation the class did not compile, as our schema has a `_label_` field that interfers with the scala code syntax. The current implementation of `Cl

[2021-02-25 02:06] ghostdogpr commented on #775
Sounds good, thanks a lot 👍

[2021-02-25 02:08] ghostdogpr commented on #446
Great to hear 👏

[2021-02-25 09:27] user501254 commented on #446
This is great news. Thank you!

[2021-02-26 20:30] johanneshiry opened #778 "Mutation contains null values if None is provided"
Hi again,

after generating a schema and using it to connect a client to an existing GraphQL endpoint I stumbled over the following situation and I don't know if this is a bug or a feature and I just use it wrong.

**Background:**
I generated a schema using graphQL introspection. As a result also the encoder `encode(value: T)` methods are generated in the schema class.
When I now built a Mutation

[2021-02-27 00:12] winsvu opened #781 "Caliban alternative to ProjectionName in Sangria"
I am migrating from Sangria to Caliban and I am facing a situation where I need to show a name for a field in my schema, but when I ask for the name of the field in the resolver implementation, I could have an alias or an alternative name for that field.

For example, let's say I have a schema like the following:
[code]

so, everybody can request the title of a journal like this:
[code]

Using ```

[2021-02-27 00:34] ghostdogpr commented on #781
There is currently no alternative in Caliban. That would be nice to have indeed.

[2021-02-27 00:45] winsvu commented on #781
Thank you @ghostdogpr

[2021-02-27 00:49] ghostdogpr commented on #778
Hmm where does this error come from? It's not Caliban. Having `null` fields for optional input fields is valid graphql, I just tested it.

We could potentially add a parameter to drop all null fields when building the query (controlling it per-field was discussed before but it is much more complicated).

[2021-02-27 13:19] johanneshiry commented on #778
Thanks for the fast reply. We're using [KeystoneJS](https://www.keystonejs.com/) as API endpoint. I'm not that much experienced with GraphQL so you might be right and it is an issue on the KeystoneJS implementation side.

If you're interested in such a parameter in the query building process, it could try to work on that (drop all null values, not per field). If you don't bother bc it is a Keyston

[2021-02-28 04:16] ghostdogpr commented on #778
No problem for adding the option 👍

[2021-03-01 05:50] MasseGuillaume commented on #778
I got the same issue with Query on the Magento API. I think it would make sense to be able to drop null values.

[2021-03-01 08:04] johanneshiry commented on #778
Started working on a solution yesterday and I hope I'll find some time to finish it within the next two weeks. Keep you updated.

[2021-03-02 04:20] MasseGuillaume opened #786 "Cyclic reference in code generation for RootQuery/RootMutation"
version: 0.9.5

I'm generating client code and the output gives circular references:

[code]

If I comment out those lines, the client compiles fine.

[2021-03-02 04:57] ghostdogpr commented on #786
Can you provide a way to reproduce? In itself it's not a problem, see https://github.com/ghostdogpr/caliban/blob/master/client/src/main/scala/caliban/client/IntrospectionClient.scala for example.

[2021-03-02 17:55] MasseGuillaume commented on #786
Here is the output schema for WooCommerce: https://gist.github.com/MasseGuillaume/07eca4918655bcb52454656a049c7841

I'm sorry I can't reduce it further right now.

[2021-03-03 00:28] ghostdogpr commented on #786
Ah isn't it because you have an object named `RootQuery` which clashes with the one from Caliban?

[2021-03-03 04:50] MasseGuillaume commented on #786
Yup this looks like it

[2021-03-03 04:57] ghostdogpr commented on #786
We either need to rename these (but that'll be breaking) or add these names to the list of reserved keywords so that an alternate name will be given.

[2021-03-03 04:57] MasseGuillaume opened #788 "Code generation for missing types"
I have yet another problematic schema for code gen. I cannot share the schema here because it's a private API but the general idea is that there is an object with a field that references a Type that does not exist. My workaround is to make this type available somehow:

[code]
Would it make sense to add a flag to generate those missing types?

[2021-03-03 04:58] ghostdogpr commented on #788
So you mean that the GraphQL schema is not valid?

[2021-03-03 05:06] #775 closed

[2021-03-04 01:19] MasseGuillaume commented on #788
Ah actually, I don't think the type is missing from the schema, here is what I can extract:

Usage:

[code]

Definition:

[code]

[2021-03-04 01:28] ghostdogpr commented on #788
Do you pass the schema as a file or by URL?

[2021-03-04 01:31] MasseGuillaume commented on #788
by URL

[2021-03-04 01:35] ghostdogpr commented on #788
Maybe it has something to do with the fact that it's deprecated.

If you have time, I'd be interested to know if the type is returned by https://github.com/ghostdogpr/caliban/blob/d11a92b206129a6540feaaf7f1d8b7dbd68b7c9c/tools/src/main/scala/caliban/tools/IntrospectionClient.scala#L22

[2021-03-04 01:59] ghostdogpr commented on #236
https://github.com/softwaremill/sttp/issues/432 was resolved so it's not a blocker anymore

[2021-03-12 20:37] metasim opened #798 "Encoders for filters in generated client insert null entries for every non-used predicate"
I'm working with a third-party service that publishes GraphQL for their API. The `*WhereInput` classes are quite long (see below). When doing a simple filter such as this:

[code]

The resulting serialization is heavy, mostly filled with `null` entries.

[code]

Furthermore, the `null` entries cause the server to crash (I don't have any insight into how it's implemented... we're just subscribers).

[2021-03-13 00:24] ghostdogpr commented on #798
If I am not mistaken, it is addressed by https://github.com/ghostdogpr/caliban/pull/784 (the issue and PR titles mention mutations but it's not specific to it). Basically it adds a new parameter that allows dropping all null values.

[2021-03-17 08:51] agtArcher opened #804 "Subscriptions don't work with zio.Runtime.default"
I am working on simple examples with using of Caliban, Zio layers, and Lagom.
Here is a subscription method to get Source from Caliban:
[code]
There are two ways to run this task: 1) provide layer and run via Runtime.default:
[code]
 2) run via custom Runtime:
[code]
Queries and mutations work in both ways, but subscriptions work only in the second way (got stream only with using custom zio.Runtim

[2021-03-17 09:02] ghostdogpr commented on #804
Can you describe how it doesn't work? What happens?

Also I noticed you seem to call `interpreter <- GraphQLSchema.api.interpreter` at each request, which is not the recommended way. You should create the interpreter only once and then reuse it for each request.
Similarly, I don't think you should `provide` the layer for each request, because it will recreate it every time.

See the example for Ak

[2021-03-17 12:33] agtArcher commented on #804
Thanks for the advice with interpreter
I backtracked the issue and found that the source is always returned but somehow the subscriber doesn't add to the subscriber's list when I use layer providing.

Here is my subscribe layer implementation:
[code]

The example for Akka Http uses custom runtime, which is working correctly, but I want to make this with usage of default zio runtime  which requires

[2021-03-17 13:13] ghostdogpr commented on #804
I think you have no choice but to make a custom runtime. If you call provide for each request, a new service will be created each time and nothing will be shared between requests.

[2021-03-17 13:24] agtArcher commented on #804
Got it. Thanks. I will write when my example is in the public repository in case I missed something

[2021-03-17 13:24] #804 closed

[2021-03-22 00:35] ghostdogpr commented on #788
@MasseGuillaume did you figure it out?

[2021-03-22 00:36] ghostdogpr commented on #798
Closing this one since we have https://github.com/ghostdogpr/caliban/issues/778

[2021-03-22 00:36] #798 closed

[2021-03-22 02:01] MasseGuillaume commented on #788
I will take a look now.

[2021-03-22 03:15] MasseGuillaume commented on #788
I think there was a mistake in the schema and they fixed it. I cannot reproduce it.

[2021-03-22 03:15] #788 closed

[2021-03-23 17:45] winsvu opened #813 "Stitching without Federation"
Hi,

I know Federation is a better way to extend services/schemas, however, I need to stitch a few schemas together without using Federation. Is there any way to do it? do you guys have any examples?

[2021-03-24 15:36] paulpdaniels commented on #813
@winsvu It depends on how you mean to stitch them together (and where thee schema's are residing). Currently the only support for stitching built into caliban is to use the `|+|` operator on two `GraphQL`s this will perform a right hand merge of all of the top level fields and will union together the the types from both schema's. But that won't really help you if your schema's are remote since the

[2021-03-24 15:58] paulpdaniels commented on #781
Would a directive on the field work? Then you can access the field data using the a special function that takes it as the argument.

[code]

[2021-03-26 15:45] winsvu commented on #813
Thanks, @paulpdaniels

All my schemas are defined in separate projects, then we include them as dependencies in a single project that we call gateway. This gateway is where I need to be able to add new fields and new resolvers because I need data from other schemas/services. They are not running remotely, that is why Federation does not work for me in this case.

I am migrating from Sangria to Cal

[2021-03-26 16:38] paulpdaniels commented on #813
@winsvu Yes makes sense, one possible way I can think of (sort of) emulating the behavior would be to add some methods to "extend" the schema

[code]

This is a bit hacky since I haven't fully thought through this use case, but I _think_ this would allow you to define additional fields on an existing schema by doing:

[code]

[2021-03-27 02:15] ghostdogpr commented on #574
FYI it is now possible to generate view classes when running the code gen (it's slightly different from your example though: it generates view classes with all fields (not based on any query).

[2021-03-28 18:19] MasseGuillaume commented on #778
Hi @johanneshiry, do you need help with this PR? It's a feature we need. I'm willing to spend the time to write the test or the documentation.

[2021-03-29 00:12] #453 closed

[2021-03-29 15:29] tjarvstrand opened #822 "Incorrectly rendered description for ZonedDateTime"
Hi,

When I use a `ZonedDateTime` in my schema I get the following description for it when it is rendered:
[code]

[2021-03-29 23:02] ghostdogpr commented on #822
@paulpdaniels can you check that one? 🙏

[2021-03-31 14:56] MollardMichael opened #826 "Validation Error when the same interface is used in multiple unions"
Hello here,

I'm trying to do something and I end up with

ValidationError Error: Type 'ForbiddenRejection' is defined multiple times (OBJECT in io....schema.Types.InitiateCreditTransfersPayload.ForbiddenRejection, OBJECT in io....schema.Types.RefundPayload.ForbiddenRejection).

This error happens when I create the interpreter `federate(partnerGql).interpreter` from a GraphQL generated with caliba

[2021-03-31 23:11] ghostdogpr commented on #826
Would you be able to post a simplified reproducer (ideally on scastie)? That'd help us!

[2021-04-01 02:30] paulpdaniels commented on #822
Yeah let me take a look. Looks like the `DateTimeFormatter` prints differently than I expected.

[2021-04-01 08:11] johanneshiry commented on #778
Hi @MasseGuillaume - my main work kept me busy the last few weeks but I think I can spend some time on this within next week. However, if this is urgent to you, feel free to add the missing parts to the existing PR.
I just send you a collab invitation.

So far I think the main feature is ready but the tests are missing. If you start working in this pls let me know to prevent double work. If I star

[2021-04-01 21:17] zvuki opened #828 "GraphQL federation gateway based on Caliban"
Is it possible/supported?

[2021-04-01 23:01] ghostdogpr commented on #828
It's not supported. Technically I guess it's possible but would require a lot of efforts. @paulpdaniels thoughts?

[2021-04-02 13:11] MollardMichael commented on #826
I'm sorry this is something that happened on new project I just joined and my first time writing code in scala.
I think it's a bit too much for me to boostrap a projec.

I think the issue is mainly that
- union are generated as sealed trait with case class (meaning that the case class with the same name will be generated by on my schema)
- - we are using the generated code as source for our App (s

[2021-04-02 13:39] ghostdogpr commented on #826
Oh, I see. So ideally it should generate such case classes outside of the companion objects and make them extend multiple sealed traits. Can you verify that it produces the expected schema if you do it this way (by modifying the generated code)?

[2021-04-03 06:30] paulpdaniels commented on #828
Yeah most definitely would require a lot of effort. There are a also different stages of federation. If you just want to be able to stitch together several graphs you could merge them using the `|+|` operator (though admittedly we don't have this for remote schemas yet, but there is a contributor working on it). If you need an actual gateway the big piece that would be needed for that is the `Quer

[2021-04-04 19:36] fdietze commented on #236
Hi, what needs to be done to implement subscriptions? I might look into it.

[2021-04-05 01:45] ghostdogpr commented on #236
@fdietze I think @paulpdaniels started working on it so we need to get his feedback first on what he did.

But the idea is to add something similar to `toRequest` that returns a stream of objects (properly parsed). This would take care of creating the graphql request (should be easy with existing code), create an sttp websocket request and implement the graphql ws transport protocol (https://githu

[2021-04-05 03:11] paulpdaniels commented on #236
I have most of the protocol implemented I think, I was working on getting tests working though. I can push a PR this week though.

[2021-04-09 11:14] mjarosie opened #841 "Spray-json backend for AkkaHttpAdapter"
AkkaHttpAdapter [requires a pluggable JSON backend](https://github.com/ghostdogpr/caliban/blob/660beea/adapters/akka-http/src/main/scala/caliban/AkkaHttpAdapter.scala#L24). As far as I understand, [the only available JSON backends are for circe and play](https://github.com/ghostdogpr/caliban/tree/660beeae538768d817a73cb4535e0e3bd1a8cb82/adapters/akka-http/src/main/scala/caliban/interop). This feat

[2021-04-09 12:51] ghostdogpr commented on #841
You are right, it is not currently implemented. You already identified the place where the code is for circe and play. As you can see, it's not very complex if you are familiar with the JSON library (just converting a few types from/to JSON).

[2021-04-14 15:20] ghostdogpr commented on #631
Opened a PR with preliminary work: https://github.com/ghostdogpr/caliban/pull/847

If someone want to contribute, porting the small `gqldoc` string literal macro to Scala 3 would be awesome!

[2021-04-14 15:53] javimartinez commented on #631
@ghostdogpr I could try to port the `gqldoc`  macro to Scala 3 this weekend

[2021-04-20 10:20] tmilner opened #852 "Compiler never completes with complex schema."
I've recently started investigating Caliban and setup a test project using an example schema file which has types that are self recursive.

For example:
[code]

As a side note - I started off using code gen, but found that there file generated would not compile. It seemed to create the types in the case object of every union it existed in. So if a type was in 2 unions it would be defined twice. It

[2021-04-20 10:36] ghostdogpr commented on #852
Are you sure the implicit schemas you define are in scope and actually used? In the scenario where you would define everything manually (including the root schemas), Magnolia macros wouldn't be involved at all. I'd try reaching that point (even without a real implementation, using `???`) so that it compiles and then removing them step by step to see which ones are actually necessary.

Otherwise as

[2021-04-20 11:47] tmilner commented on #852
Hmm I think I was going down the wrong path. I tried to recreate it and I cant.

Currently I have a large schema that compiles, but as soon as I either try to create a server (so trigger derivation of types) or add any kind of implicit (`Schema.gen[X]`, `Schema.genMacro[X].schema` or using `obj`) the build his an OOM error.

Still digging into whats happening, but I had a minimal example of nested

[2021-04-21 07:59] tmilner commented on #852
I've had no luck at all. Bringing in any kind of implicit makes it immediately stop compiling and I am not sure I can dedicate any more time to debugging. If anyone thinks they know why a large schema would cause this please let me know. But for now I am going to close this issue. Thanks.

[2021-04-21 07:59] #852 closed

[2021-04-22 12:19] tmilner opened #858 "Mutually referenced argument types cause runtime stack overflow"
I recently raised, then closed, an issue about a schema that never finished compiling. I have narrowed it down to a lack of ArgBuilder implicits and upon defining these the compile completes pretty quickly.

However, now that it compile it does not run. In fact at runtime it fails with a stack overflow as soon as you try and run a query.

The minimal schema:
[code]

Here is a running example - htt

[2021-04-22 12:53] ghostdogpr commented on #858
I reported it to magnolia but it couldn't be fixed: https://github.com/propensive/magnolia/issues/190

There is a workaround in this case though: make only one of them lazy. Like this: https://scastie.scala-lang.org/LGeOoMIUSoKybUrp7J4JOg It might be trickier to apply in a real life use case unfortunately.

[2021-04-22 14:31] tmilner commented on #858
Ouch, OK thanks. Good to know.

I guess I should just close this then?

[2021-04-22 14:34] ghostdogpr commented on #858
Yeah, unfortunately there isn't much I can do about it on Caliban side. Hopefully the workaround will work for you. I'm also hoping this problem will be gone in Scala 3 since derivation will use Scala core features and should be less hacky.

[2021-04-22 14:58] #858 closed

[2021-05-09 03:50] #570 closed

[2021-05-09 03:55] ghostdogpr commented on #573
I digged a little bit more and I don't think we can do this in a generic way. However you can rename it easily like this: https://scastie.scala-lang.org/WCikDYiARXG1NO7h9SvNOA

[code]

[2021-05-09 03:55] #573 closed

[2021-05-09 04:13] ghostdogpr commented on #781
Yeah, it works well with directives, it's actually much more flexible than Sangria since you can do whatever you want (needs a little more code but you can make a nice little helper for it).

Example: https://scastie.scala-lang.org/fBe67HONRbu6FjsqWHui2Q

[code]

[2021-05-09 04:13] #781 closed

[2021-05-10 00:35] ghostdogpr commented on #631
Planning to do a first release this week!

[2021-05-10 12:30] #631 closed

[2021-05-14 14:15] mszczygiel opened #879 "Incorrect error returned when using default function Schema and input argument contains field named "value""
I've prepared testcase that covers this issue here: https://github.com/mszczygiel/caliban/commit/548b54df20da354a6e92749d78e38f5f6e8ad21a

Returned error is `Can't build an Int from input "value"` which is incorrect, and this is due to arbitrary name chosen in https://github.com/ghostdogpr/caliban/blob/master/core/src/main/scala/caliban/schema/Schema.scala#L360

Workaround is to provide my own `fu

[2021-05-14 14:23] ghostdogpr commented on #879
I think it can be fixed more simply by applying the fallback logic only if we are in the case with no wrapping case class (the same condition used in `toType` a few lines above). So you want to try? You already have a nice test 😄 If not I can do it.

[2021-05-14 14:25] mszczygiel commented on #879
Right, that would work, too. I'll try to fix it in a few day then. Thanks for the response :)

[2021-05-15 07:12] #879 closed

[2021-05-23 04:38] ghostdogpr commented on #236
Sttp support for WebSockets isn't that great actually, there are still many things that are not supported with Scala.js.

For this reason, I decided to focus on a pure and elegant Scala.js solution and worked on support for [Laminar](https://github.com/raquo/Laminar). All the reusable code lives in `caliban-client`, and the integration itself is just a few lines of code. I believe thanks to this c

[2021-05-23 07:39] #236 closed

[2021-05-28 20:38] hollinwilkins opened #905 "Caliban Client Codegen: Not using ID type in method signature for top-level queries"
Consider the following GraphQL schema:

[code]

Running caliban codegen on it will result in this Scala:

[code]

The problem is that the type of `testId` in the method signature to `testQuery` is a `String`. This fails typechecking when making the call to the server. The server is expecting `testId` to be an `ID`.

[2021-05-28 20:39] hollinwilkins commented on #905
I should also note, this is when setting `useVariables = true` to create the request.

[2021-05-29 11:23] ghostdogpr commented on #905
You're right. The problem with using `ArgEncoder` on the argument type is that we lose the information on the graphql type. Maybe the codegen should provide the graphql type information when it creates `Argument`. Will think about this and see if I can make it work.

[2021-05-29 12:00] ghostdogpr commented on #905
Tentative fix: https://github.com/ghostdogpr/caliban/pull/906

[2021-06-01 10:53] jdepassos-mdsol opened #908 "Update AuthExampleApp"
Looking at the example AuthExampleApp, the context wrapper gives us access to the http headers, and via its own query resolver we can pull those values, but is it possible to pass http headers to Query members instead?

Can we update AuthExampleApp to show this

eg Query definition
[code]

[2021-06-01 11:49] ghostdogpr commented on #908
No it is not possible to do it that way. The supported way is to provide it via the ZIO environment like in the examples.

[2021-06-01 11:59] #908 closed

[2021-06-02 14:30] ali-at-github opened #911 "Error response incorrect for an invalid field input"
Hi,
I have a mutation which accepts a BigDecimal input to a field. If I supply an invalid value for it, I get the mutation name in the `data` object of the response. e.g:

`mutation{
 createBook(
  name:”Book1”,
  description:"test",
  Price:”2”
) {
  id
}
}`

Response i get is:

`{
  "data": {
    "createBook”: null
  },
  "errors": [
    {
      "message": "An internal error occured",
      "loc

[2021-06-03 13:03] #905 closed

[2021-06-03 13:09] ghostdogpr commented on #813
Closed by #896

[2021-06-03 13:09] #813 closed

[2021-06-03 13:10] ghostdogpr commented on #828
You might be interested in #896 that was just merged.

[2021-06-04 11:56] ghostdogpr commented on #911
@ali-at-github I believe it is working as expected. I added 2 tests in [this commit](https://github.com/ghostdogpr/caliban/commit/2e4d6ec571ca15a1b66f6e4f8a0ef0c94c80513d). The first one fails parsing an argument when the field is optional (`Task`), the second one when the field is not optional (`UIO`). The result contains the field for the first one and is just `null` for the second one.

Closing

[2021-06-04 11:56] #911 closed

[2021-06-06 11:18] ckittl commented on #778
Hey guys!

Just want to draw your attention to a possible shortcoming of the proposed solution. This is also with regard to #798.

## Example
I want to query entities, who's field `c` (of type String) is either empty or something specified. So, desired GraphQL query would look like
[code]

However, filtering out the null values, doesn't allow me to form the first part of the `OR` statement...

##

[2021-06-06 11:32] ghostdogpr commented on #778
The solution above is an optional parameter, so if you don't specify it you would keep the null values. The only problem is if you want both behaviors on different objects (keep null for one object and drop it for another). Is that what you meant?

A different solution could be to add a function `.dropNullValues` to `ArgEncoder` that would return a new `ArgEncoder` with the different behavior.  Th

[2021-06-06 12:19] ckittl commented on #778
Hmmm... As I think a bit more in-depth about it and considering, that the Keystone API might experience issues with too many nulls, it would be more desirable to be able to explicitly state "that field is meant to be null". Might also be worthwhile for mutations, as when you would like to "delete" something from database...

[2021-06-06 12:29] ghostdogpr commented on #778
Actually the solution I proposed in my last message gives the most flexibility since you have full control on the object before it gets turned into Json. The helper could even take an optional list of fields to keep or drop when they're null.

The only drawback is that you need to do it explicitly for each input type. But maybe we could combine both solution so there's an overall setting and then

[2021-06-07 18:45] blast-hardcheese opened #917 "Attempting to render a client for a specification with `Field` as a member name generates uncompilable code"
First off, thank you for this project -- integration has been largely straightforward for someone with very limited experience to GraphQL prior to now.

One issue I'm facing is with the following specification:
[code]

generates the following:

[code]

which yields the following when I attempt to compile:
[code]

There are two options that I see:
- Either `Field` from caliban should be fully quali

[2021-06-07 23:36] ghostdogpr commented on #917
Sounds good! There is a test project to verify that the generated code compiles, it's there: https://github.com/ghostdogpr/caliban/tree/master/codegen-sbt/src/sbt-test/codegen/test-compile

Basically we call the sbt plug-in on various .graphql schema files and try to compile it. You can run it by calling `codegenSbt/scripted` in sbt.

[2021-06-08 10:39] #917 closed

[2021-06-08 18:38] smparsons opened #920 "Manually defined schema with circular dependencies results in a stack overflow error"
I have the following code:

[code]

You can find the playground here: https://scastie.scala-lang.org/smparsons/NULLlRWqRiWcAexDtWLMsA/29

Running the above code results in a stack overflow error. I do realize this is very similar to this issue: https://github.com/ghostdogpr/caliban/issues/858, however, I was under the impression that I shouldn't have the above problem if I define the schema manual

[2021-06-09 00:45] ghostdogpr commented on #920
The problem in your example is not actually related to derivation. When we build the whole schema, Caliban generates an "execution plan" which is a tree of `Step` objects representing the root resolver. When an effect or a function is involved, they need to be executed to give you the next steps. In your example though, `bar` and `foo` are declared as simple "values" so their steps are pre-calcula

[2021-06-09 10:48] ghostdogpr commented on #451
Note that [batching](https://github.com/jaydenseric/graphql-multipart-request-spec#operations-2) is currently not supported in the Play Adapter, this is another TODO.

[2021-06-09 14:30] smparsons commented on #920
Thank you, that fixed the problem. Would it be worth mentioning this in the documentation to help other developers who might run into the same issue I did?

[2021-06-09 14:59] ghostdogpr commented on #920
I opened https://github.com/ghostdogpr/caliban/pull/921 to close this issue.

[2021-06-10 10:40] #920 closed

[2021-06-13 05:41] ghostdogpr commented on #778
Opened #923 for this

[2021-06-13 23:50] #786 closed

[2021-06-14 04:45] #822 closed

[2021-06-14 04:53] #778 closed

[2021-06-16 15:56] rtimush opened #928 "Force a sealed trait to not be an enum"
Currently, if all children of a sealed trait are objects, it is rendered as an enum in the schema. It would be nice to be able to add an annotation to render it as a `union`. Otherwise, if the trait is later extended with another class that has some fields, the schema changes in an incompatible way.

[2021-06-17 00:35] ghostdogpr commented on #928
The problem is that unions do not support empty objects. For that reason when you mix case objects anc case classes we currently do the dirty trick of inserting a "fake" field named `_` that returns a Boolean. A solution would be that you add such field in the enum directly so that's it's automatically considered a union for the same result (need at least one field anyway).

If you don't want to m

[2021-06-17 16:43] rtimush commented on #928
Both options unfortunately look not very pleasant.

Moving the fake `_` field to the model is quite invasive, I'd prefer it to stay in the caliban layer, and not leak to the business code. Also, it seems that I'd have to add it not only to the base trait but also convert all objects to case classes with this `_` field.

Implementing a custom derivation function is quite verbose, and unless I fully

[2021-06-17 23:09] ghostdogpr commented on #928
Yeah, an annotation works. It'll be similar to the existing `GQLInterface`.

I think the custom schema isn't that complex: no need to deal with magnolia code, it's mostly a mapping between 2 Type objects. But it's true that you need to call it explicitly for the types that need it. I can show a draft of this solution if you're interested but I'm 100% okay with the annotation so you can go for it 😄

[2021-06-20 12:58] EB-BartVanVliet opened #932 "Prob lems upgrading caliban-codegen-sbt to 1.0.1 (Scala 2.12)"
Hi!

Having some trouble upgrading from 0.9.5 to 1.0.1, I saw that there were some major changes with scala 3/2 in the latest release. Does this mean that 1.0.1 is no longer compatible?

[code]

This is how I add the the sbt codegen project:
`addSbtPlugin("com.github.ghostdogpr" % "caliban-codegen-sbt" % "0.9.5")`

[2021-06-20 13:05] ghostdogpr commented on #932
Hi!
Compatible with what exactly?
If you upgrade caliban, you need to upgrade both the dependency to `caliban-client` and the sbt plugin to the same version. Then make sure to run `reload` in sbt so that the new version is taken into account. The codegen command needs to be ran again with the new version (code generated with the older version won't compile).
Do you have any error after doing that?

[2021-06-24 10:11] mingyuchi opened #937 "Cannot include a colon in calibanGenClient header value"
Currently, the command layout for adding a header is
`calibanGenClient schemaPath outputPath [--headers name:value,name2:value2]`

It's impossible to add a header value with ":" inside due to its way of spliting the argument.
There are no ways to escape it either.
`calibanGenClient /path/to/schema /path/to/output --headers aaa:bbb:ccc` will not add a header on execution.

[2021-06-25 00:46] #937 closed

[2021-06-26 06:19] ghostdogpr commented on #623
Closed by #933

[2021-06-26 06:19] #623 closed

[2021-06-26 06:26] ghostdogpr commented on #932
Closing this for now, but let me know if you need more help, or drop on the Discord server.

[2021-06-26 06:26] #932 closed

[2021-06-30 08:53] #928 closed

[2021-07-05 10:47] AlixBa commented on #826
I've tried something based on your comment, @ghostdogpr . I'll test it ASAP on a `.interpreter`

[2021-07-06 05:41] paulpdaniels opened #950 "Client Codegen doesn't handle the name properly with play projects."
Currently the client codegen uses a regex based system to extract the name of the client from the file name (or falls back to `Client` if it can't find it). The regex however relies on the presence of `/scala` in the path name which breaks with `play` (and any custom directory structures).

Work around is to make your client projects part of a separate module if using play (one that follows the co

[2021-07-06 05:46] ghostdogpr commented on #950
Sure, let's add `|play` 👍

[2021-07-06 09:10] #826 closed

[2021-07-08 21:26] blast-hardcheese opened #958 "sbt plugin does not automatically evict cached files when CalibanSettings changes"
As a workaround `caliban:clean` will clean _just_ the caliban-generated files, but I've learned a little more about how sbt caching works and am working on a fix.

[2021-07-09 04:52] #950 closed

[2021-07-09 08:42] #958 closed

[2021-08-05 08:22] v-tec2706 opened #994 "SchemaLoader skips @deprecated directive"
Looks like `SchemaLoader.fromCaliban(...)` does not include deprecated directive to `FieldDefinition` while `SchemaLoader.fromString(...)` does, that triggers `changes` in `compareAllTypes(...)` when calling `SchemaComparison.compare(...)` method.

[2021-08-05 16:16] rleshchenko opened #995 "Caliban federation for scala 3"
Hello folks. I am curious is there any ongoing work for porting federation library for the scala 3?

[2021-08-06 01:36] ghostdogpr commented on #995
I think there is no blocker anymore, I just opened a PR.

[2021-08-07 00:34] ghostdogpr commented on #994
@v-tec2706 hmm, it doesn't seem to be the case. There is a test case `compare Caliban schema with string schema` and I tried adding `@GQLDeprecated("...")` to a field, the test is still passing. Woud you be able to provide a reproducer?

[2021-08-07 00:35] #995 closed

[2021-08-16 12:22] v-tec2706 commented on #994
So, when I modify that test:
[code]
it fails with:
[code]

[2021-08-16 12:48] ghostdogpr commented on #994
@v-tec2706 you're right, I tested wrongly. Opened https://github.com/ghostdogpr/caliban/pull/1006 to fix it.

[2021-08-16 12:55] #994 closed

[2021-08-23 11:22] Mxrynd opened #1010 "Default argument value support"
smth like @GQLDefault annotation

[2021-08-25 12:28] valentin-panalyt commented on #3
@ghostdogpr Does this issue mean that recursive schemas won't be supported? I have a recursive one that derives a wrong schema.

[code]

Interestingly it derives a schema where the `value` field is of type `ListRecursiveType` with `::` and `Nil` as members, so apparently `List` didn't get derived correctly but as a "normal" sealed trait.

Will this not be supported?

[2021-08-31 08:46] Przemyslaw5 opened #1021 "Caliban client interface generation problem"
Hi, I have a problem with interfaces. In the schema I have an interface defined, but after generating file by caliban cleint, the file does not contain this interface but uses it. Program compiles with error `not found: type xxx` where `xxx` is name of interface from schema

I minimized the problem:

You can use this schema:
[code]

Now using caliban client to generate file we get mentioned error

[2021-08-31 10:26] paulpdaniels commented on #1021
That seems like it shouldn't even be a valid schema no? Nothing is implementing the interface.

[2021-08-31 12:04] Przemyslaw5 commented on #1021
Okay, sorry i have a bug in generator.

[2021-08-31 13:44] paulpdaniels commented on #1021
Feel free to reopen if this turns out to be an issue with caliban

[2021-08-31 13:44] #1021 closed

[2021-09-06 13:23] ngbinh opened #1031 "type with `then` field cause `deprecated` warning in `caliban-sbt`"
Using `caliban-sbt` on a schema with type like this:

[code]

would cause `then is a reserved word (since 2.10.0); usage as an identifier is deprecated` on the generated code.

is there a way to fix this?

Thanks

[2021-09-06 13:28] ghostdogpr commented on #1031
I think it might be enough just to add it to `reservedKeywords` here https://github.com/ghostdogpr/caliban/blob/8c52365cc73a8b064d3251fa5c77c79bb0c741a0/tools/src/main/scala/caliban/tools/ClientWriter.scala#L836

I don't remember where I found the initial list of keywords but `then` was not in there.

[2021-09-06 13:48] RhnSharma commented on #1031
I would like to take this one. Is it up for grabs?

[2021-09-06 13:49] ghostdogpr commented on #1031
Sure!

[2021-09-06 13:54] ngbinh commented on #1031
would be great if the list is configurable with sensible defaults.

[2021-09-06 14:16] ghostdogpr commented on #1031
In theory it's a finite list, but I can't find it. Even on the 2.13 language spec `then` is not included:
<img width="449" alt="Screen Shot 2021-09-06 at 11 15 07 PM" src="https://user-images.githubusercontent.com/7413894/132230542-9ff41269-c334-4806-b9f4-86b125d6f9f6.png">

[2021-09-06 14:16] #1031 closed

[2021-09-06 14:19] ngbinh commented on #1031
`then` is reserved in `dotty`. More context here: https://github.com/scala/bug/issues/10309

[2021-09-06 14:20] ghostdogpr commented on #1031
Oh, interesting, the error message is actually incorrect.

[2021-09-10 19:53] brendanmaguire opened #1039 "Function result schema changes depending on effect type"
I'm not sure if this is a bug or expected behaviour. Note in the example below that the rendered schema changes depending on the effect type (`cats.Id` vs `zio.Task`).

[code]

I would have expected `getInt: Int!` in both cases.

[2021-09-11 00:14] ghostdogpr commented on #1039
This is intended, see the table in https://ghostdogpr.github.io/caliban/docs/schema.html#schemas

You can use `UIO` rather than `Task` if you want to return something non-nullable and use `.orDie` on your `Task` to transform it.

[2021-09-11 00:14] #1039 closed

[2021-09-11 02:32] ghostdogpr opened #1040 "Add @GQLExcluded annotation"
It would be nice to be able to "hide" a field of a case class that you don't want exposed, or an enum member. This should be quite similar to existing `@GQLDeprecated`.

[2021-09-11 03:39] paulpdaniels opened #1041 "Migrate to ZIO 2.0"
We should start adding a 2.0 branch once the ZIO 2.0 API stabilizes a bit more (and there is some more support across other libraries).

TODO:
- [x] zio-query
- [x] zio-config
- [x] zio-json
- [x] zio-http
- [x] sttp (async-http-client-backend-zio)
- [x] tapir
- [x] zio-interop-cats
- [x] zio-interop-reactivestreams

[2021-09-11 03:43] ghostdogpr commented on #1041
Added zio-interop-cats and zio-interop-reactivestreams

[2021-09-11 03:47] ghostdogpr commented on #1041
Note that for core, only `zio-query` is needed. All the rest is for interop (except zio-config, used for the tools).

[2021-09-11 03:51] adamgfraser commented on #1041
Will take care of `zio-query`.

[2021-09-11 04:14] adamgfraser commented on #1041
Created a ZIO 2.0 branch [here](https://github.com/zio/zio-query/tree/zio2). Can do a release whenever you want it.

[2021-09-11 06:19] adamgfraser commented on #1041
Snapshot version available [here](https://oss.sonatype.org/content/repositories/snapshots/dev/zio/zio-query_2.13/0.2.10+16-e3977c91-SNAPSHOT/).

[2021-09-11 07:49] adamgfraser commented on #1041
I am working on `zio-interop-cats`.

[2021-09-11 08:29] brendanmaguire commented on #1039
Ah, sorry, I missed that in the documentation. Thanks @ghostdogpr

[2021-09-11 23:51] adamgfraser commented on #1041
Published snapshots for `zio-interop-cats` with support for interop between ZIO 2 and Cats Effect 2 [here](https://oss.sonatype.org/content/repositories/snapshots/dev/zio/zio-interop-cats_2.13/2.5.1.0+7-df3c69d3-SNAPSHOT) and interop between ZIO 2 and Cats Effect 3 [here](https://oss.sonatype.org/content/repositories/snapshots/dev/zio/zio-interop-cats_2.13/3.1.1.0+27-67652048-SNAPSHOT.)

[2021-09-15 07:31] #1010 closed

[2021-09-18 09:09] ghostdogpr commented on #218
Addressed by https://github.com/zio/caliban-deriving

[2021-09-18 09:09] #218 closed

[2021-09-18 09:20] guizmaii opened #1052 "[CompileTimeCalibanPlugin] TODOs"
- [ ] Write documentation.
- [ ] Fix client plugin cache mechanism: when the client plugin settings change, we need to regenerate the server(s) "generator" but because the server(s) cache is not invalidated, it doesn't understand that it has to re-generate the code, so the client plugin has nothing to call, so nothing is done.

[2021-09-21 23:52] dylanraithel opened #1058 "SBT CalibanClient plugin & Client code autogen"
I've got a graphql service stood up and would like to ingest the schema to generate a client I can build on.

I'm using caliban-client 1.1.1

I've followed the docs here: https://ghostdogpr.github.io/caliban/docs/client.html#from-a-server-url

and attempted to have sbt hit a /graphql endpoint to fetch the schema but am getting the error below.

[code]

https://github.com/ghostdogpr/caliban/blob/12

[2021-09-22 00:14] ghostdogpr commented on #1058
When you generate code from URL, the caliban sbt plugin will call the provided URL to get the schema by introspection (see https://github.com/ghostdogpr/caliban/blob/1add28725345c83e7a89a561a398c93166fc2e82/tools/src/main/scala/caliban/tools/IntrospectionClient.scala#L26). Looking at the error, it looks like the URL is not responding.

An easy way to test this is to add a dependency to `caliban-to

[2021-09-22 06:12] monksy commented on #140
Just an update to this: new custom error types are supported without being throwable via; https://github.com/ghostdogpr/caliban/pull/1059

[2021-09-23 16:54] dylanraithel commented on #1058
Thanks @ghostdogpr it does appear to be an issue on our side with the /graphql endpoint. When I POST using curl I get similar behavior.

I did try your recommendation and wound up down a rabbit hole of ZIO chains and wrappers. I've generally found that a lot of the functional libraries have a high barrier to entry and deviating at all from library code to do simple things like printing exception m